 <template>
     <div class="hola-karol">
         <ul v-for="coordination in coordinations" :key="coordination.id">
             <li>{{ coordination.tension_nominal }}</li>
         </ul>
     </div>
     
 </template>

 <script>

 import axios from 'axios'
 import toastr from 'toastr'
 
 export default {
     data(){
         return {
             coordinations: []
         }
     },

     created(){
         this.getCoordinations()
     },

     methods:{
         getCoordinations(){
             var url = this.app_url+'/coordination';
            axios.get(url).then(response =>{
                this.coordinations = response.data
                toastr.success('No hubo error')
            }).catch(error =>{
                toastr.error('Hubo un error')
            })
         }
     }
 }
 </script>

 <style lang="scss" scoped>

    .hola-karol{
        background-color: red;
        color: white
    }
    
 </style>
 
 
 