<template>

    <div>
        
    <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        
        <thead>
            
             
                <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="12">1.DATOS DE ENTRADA</th>
                
                </tr>
            
                <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">DESCRIPCIÓN</th>
                    <th rowspan="2">SÍMBOLO</th>
                    <th rowspan="2">UNIDAD</th>
                    <th colspan="8" align="center">NIVELES DE TENSIÓN</th>    
                </tr>
                <tr>
                    <tr>
                        <tr>

                     <th style='background-color:#96A6F5;' colspan="1">Tensión nominal
                            <select id="tension_nominal"  name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="coordination in coordiantions" :key="coordination.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>  
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                            </select>
                    </th>
                    <th rowspan="2">Un</th>
                    <th rowspan="2">kV</th>
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>    
                    <th rowspan="2">{{tension_nominal}}</th>
                    <th rowspan="2">{{tension_nominal}}</th>

                        </tr>
                    <tr>
                </tr>
            <tr>
            
            <tr>
                <tr>
                    <tr>
                        <tr>
                    
                            <td style='background-color:#96A6F5;' colspan="1"><b>Frecuencia</b><br>
                                <select id="frecuencia" name="frecuencia" v-model="frecuencia" class="form-control">
                                <option style='font-weight:bold;' v-for="coordination in coordiantions" :key="coordination.id"></option>
                                        <option value="50">50</option>  
                                        <option value="60">60</option>  
                                    </select>
                                </td> 
                    <th >f</th>
                    <th >Hz</th>
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>    
                    <th>{{frecuencia}}</th>
                    <th>{{frecuencia}}</th>     
                    </tr>
                <tr>
            </tr>
        <tr>
        <tr>
            <tr>
                <tr>
                    <tr>
                
                        <td style='background-color:#96A6F5;' colspan="1"><b>Sistema de puesta a tierra</b><br>
                                <select id="sistema_puesta_tierra"  name="sistema_puesta_tierra" v-model="sistema_puesta_tierra" class="form-control">
                                    <option style='font-weight:bold;' v-for="coordination in coordiantions" :key="coordination.id"></option>
                                    <option value="sólido">Sólido</option>  
                                    <option value="aislado">Aislado</option>  
                                </select>
                            </td>    
                    <th>-</th>
                    <th>-</th>
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>    
                    <th>{{sistema_puesta_tierra}}</th>
                    <th>{{sistema_puesta_tierra}}</th>     
                
                </tr>
            <tr>
        </tr>
        <tr>
            <tr>
                <tr>
                    <tr>
                        <tr>

                             <!--<tr v-for="coordination in coordinations" :key="coordination.id">-->
                            <td><b>Altura sobre el nivel del mar<br>
                            <input  type="number" name="altura_mar" v-model="altura_mar" required></b>
                            <button type="submit" class="btn-success" @click="createCoordinationp">OK</button>
                            <button type="submit" class="btn-info" @click="createSugerencia"><b>?</b></button></td>
                            <th v-for="coordination in coordinations" :key="coordination.id"></th>
                            <th>msnm</th>
                            <th>m</th>
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>    
                            <th>{{altura_mar}}</th>
                            <th>{{altura_mar}}</th>          
                        </tr>
                    <tr>
                </tr>
            <tr>
            <tr>
                 <tr>
                    <tr>
                        <tr>

                            
                            <td>
                            <b>Factor de corrección por altura</b>
                            </td>
                            <th v-for="coordination in coordinations" :key="coordination.id"></th>
                            
                            <th>Ka</th>
                            <th>-</th>
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>    
                            <th>{{factor_correccion_altura}}</th>
                            <th>{{factor_correccion_altura}}</th>  

                            </tr>
                        <tr>
                    </tr>
                <tr>
                <tr>
                    <tr>
                        <tr>
                            <tr>

                        
                            <td><b>Temperatura media<br><input type="number" name="temperatura_media" v-model="temperatura_media" required></b></td>
                            <th v-for="coordination in coordinations" :key="coordination.id"></th>

                            <th>T</th>
                            <th>°C</th>
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>    
                            <th>{{temperatura_media}}</th>
                            <th>{{temperatura_media}}</th>  

                            </tr>
                        <tr>
                    </tr>
                <tr>
                 <tr>
                     <td style='background-color:#96A6F5;' colspan="1"><b>Nivel de contaminación ambiental</b><br><b><font color="red">(Valor tomado de la tabla 2 de la IEC 60071-2)</font></b>
                        <select id="nivel_de_contaminacion_ambiental" @click="createDistancia" name="nivel_de_contaminacion_ambiental" v-model="nivel_de_contaminacion_ambiental" class="form-control">
                              <option style='font-weight:bold;' v-for="coordination in coordiantions" :key="coordination.id"></option>
                              <option value="ligero">I Ligero</option>  
                              <option value="medio">II Medio</option>  
                              <option value="pesado">III Pesado</option>  
                              <option value="muy pesado">IV Muy Pesado</option>  
                        </select>
                     </td>    
                        
                            <th>-</th>
                            <th>-</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>    
                            <th>{{nivel_de_contaminacion_ambiental}}</th>
                            <th>{{nivel_de_contaminacion_ambiental}}</th>     
                        
              
            <tr>
                <tr>
                    <tr>
                        <tr>
                            
                        <th rowspan="2"><b>Distancia de fuga mínima nominal</b><br><font color="red">(Valor tomado de la tabla 2 de la IEC 60071-2,<br>según el nivel de contaminación ambiental)</font>
                        <!--<button type="submit" class="btn-primary" @click="createDistancia">OK</button>-->
                            <th>Kf</th>
                            <th>mm/kV</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>   
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>
                            <th>{{distancia_de_fuga_minimo_nominal}}</th>     
                        
                        
                        </tr>
                    <tr>
                </tr>
            <tr>
            <tr>
                    <tr>
                    
                    <th colspan="50"><button type="button" class="btn btn-primary btn-lg btn-block" @click="createCoordination">Guardar</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" @click="indice">Indice</button></th>
                       
                    </tr>
            <tr>
                </tr>
            
            
        </thead>
      
        
    </table>

    </div>

</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {

    props: ['project_id'],

    data(){
        return {

            tension_nominal: '',
            tension_maxima:'',
            nivel_basico_de_aislamiento: '',
            frecuencia: '', 
            sistema_puesta_tierra: '',
            altura_mar: '',
            factor_correccion_altura : '',
            temperatura_media : '',
            nivel_de_contaminacion_ambiental : '',
            distancia_de_fuga_minimo_nominal : '',

        }

       
        
    },

    methods:{

        updateProject(){
            var url = this.app_url+'coordination/update/'+this.project_id
            axios.put(url,{

                tension_nominal : this.tension_nominal,
                tension_maxima :  this.tension_maxima,
                nivel_basico_de_aislamiento : this.nivel_basico_de_aislamiento,
                frecuencia :  this.frecuencia,
                sistema_puesta_tierra :  this.sistema_puesta_tierra,
                altura_mar :  this.altura_mar,
                factor_correccion_altura :  this.factor_correccion_altura,
                temperatura_media :  this.temperatura_media,
                nivel_de_contaminacion_ambiental :  this.nivel_de_contaminacion_ambiental,
                distancia_de_fuga_minimo_nominal :  this.distancia_de_fuga_minimo_nominal

            }).then(response =>{
                toastr.success('Proyecto editado exitosamente')
            }).catch(error =>{
                toastr.error('Proyecto fail Update')
            });

            },

             
        createCoordination(){

            let url = this.app_url+'/create/coordination'
            axios.post(url,{
                
                tension_nominal : this.tension_nominal,
                tension_maxima :  '1',
                nivel_basico_de_aislamiento : '1',
                frecuencia :  this.frecuencia,
                sistema_puesta_tierra :  this.sistema_puesta_tierra,
                altura_mar :  this.altura_mar,
                factor_correccion_altura :  this.factor_correccion_altura,
                temperatura_media :  this.temperatura_media,
                nivel_de_contaminacion_ambiental :  this.nivel_de_contaminacion_ambiental,
                distancia_de_fuga_minimo_nominal : this.distancia_de_fuga_minimo_nominal

            }).then(response =>{
                toastr.success('Se creo el proyecto exitosamente')
            }).catch(error =>{
                toastr.error('No se creo el proyecto')
            });
        
              this.$router.push({name:'form'})
 
            },

            indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})

            },

            createCoordinationp(){

                   if (this.altura_mar>=1000){
                    this.factor_correccion_altura='0.8';
                }
                else{
                    if(this.altura_mar<1000){
                        this.factor_correccion_altura='1';
                    }
                }

        },

            createDistancia(){
                
                if(this.nivel_de_contaminacion_ambiental=="ligero"){
                    this.distancia_de_fuga_minimo_nominal = '16';   
                }
                else{
                    if(this.nivel_de_contaminacion_ambiental=="medio"){
                        this.distancia_de_fuga_minimo_nominal = '20';
                    }
                    else{
                        if(this.nivel_de_contaminacion_ambiental=="pesado"){
                            this.distancia_de_fuga_minimo_nominal = '25';
                        }
                        else{
                            if(this.nivel_de_contaminacion_ambiental=="muy pesado"){
                                this.distancia_de_fuga_minimo_nominal = '31';
                            }
                        }
                    }
                }

            },

            createSugerencia(){


                toastr.info('*Si Altura sobre el nivel del mar ( Menor ó Igual que mil ) <= 1000 = 1 <br> <br> *Si Altura sobre el nivel del mar ( Mayor que mil ) > 1000 = 0.8')

            }       
          }
       }


</script>

<style lang="scss" scoped>

</style>

