<template>
<div>
    <br>
        <br>
            <br>
                <center> 
                    <p class="idc-titulo"><h1><font color="FF5733">APLICATIVOS</font></h1>
                </center>
                <br>
                    <br>
                        <br>
                            <br>

    <p>

       <center><button type="button" class="btn btn-primary btn-lg btn-block" style='width:800px;'>Memorias de Cálculo de Conductores</button></center><br>
       <center><button type="button" class="btn btn-primary btn-lg btn-block" style='width:800px;' @click="listProject">Coordinación de Aislamientos</button></center>

    </p>

</div>
    
</template>

<script>
export default {
    

methods:{

        listProject(){

            this.$router.push({name:'project'})

        }
    }
}   
</script>

<style lang="scss" scoped>


</style>

