<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <transition name="fade" mode="out-in">
                            <router-view></router-view>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data(){
        return {
            
        }
    },

    created(){
        this.$router.push({name:'inicio'})
       // this.$routers.push({name:'coordination'})
    }
}
</script>

<style lang="scss" scoped>

</style>
