 <template>
     <div class="hola-karol">
       
        <button type="submit" class="btn btn-primary"  @click="createProject">Nuevo Proyecto</button>
        
         <table class="table table-hover table-striped">
			<thead>
                <br>
				<tr>
                    <th>ID</th>
					<th>Proyectos</th>
                    <th></th>
                    <th>Acciones</th>

					<th colspan="2">
						&nbsp;
					</th>
				</tr>
           
            </thead>
            <tbody>
            <tr v-for="project in projects" :key="project.id">
					<th width="10px">{{ project.id }}</th>
                    <th width="10px">{{ project.name }}</th>
                    <th></th>
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary" @click="updateProject(project.id)">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="button" class="btn btn-danger" @click="deletep(project.id)">Eliminar</button>
                      
					</td>
                    
				</tr>
            </tbody>
		</table>
     </div>  
    
     
 </template>

 <script>

 import axios from 'axios'
 import toastr from 'toastr'
 
 export default {

       

     data(){

         return {

             projects: []
         }
         
     },

     created(){

         this.getProjects()

     },

     methods:{

        getProjects(){
             var url = this.app_url+'/list';
            axios.get(url).then(response =>{
                this.projects = response.data
                toastr.success('Proyectos creados exitosamente')
            }).catch(error =>{
                toastr.error('Proyectos Fail')
            })
         },
        createProject(){
             this.$router.push({name:'project'})
         },
         updateProject(id){
             this.$router.push({name:'form', params: {project_id: id }})
         },
        deletep(id){ 
            console.log(id);
                var url = this.app_url+'/coordination/delete/'+id 
                axios.delete(url).then(response =>{
                    toastr.success('Proyecto eliminado')
             }).catch(error =>{
                 toastr.error('Proyecto no eliminado')
             });

             this.getProjects();
            }
         }
     }
 

 </script>

 <style lang="scss" scoped>



 </style>
 
 
 