<template> 
<div>        
    <div class="idc-box">
        <p class="idc-titulo"><h1><font color="FF5733"><center>INFORMACIÓN GENERAL</center></font></h1>
        <br>
        <li><h5><b><a class="btn btn-link" @click="proyecto"><font color="#336BFF"><h5><b>PROYECTOS</b></h5></font></a></b></h5>
            <ul>
                <h6>0 Creación proyectos</h6>
             </ul>   
        </li>
        <br>
        <li><h5><b><a class="btn btn-link" @click="tabla1"><font color="#336BFF"><h5><b>CAPITULO 1</b></h5></font></a></b></h5>
            <ul>
                <h6>1 Datos de entrada</h6>
             </ul>
        </li>
         <li><h5><b><a class="btn btn-link" @click="tabla2"><font color="#336BFF"><h5><b>CAPITULO 2</b></h5></font></a></b></h5>
            <ul>
                <h6>2 Características de los DST</h6>
             </ul>
        </li>
        <li><h5><b><a class="btn btn-link" @click="tabla3"><font color="#336BFF"><h5><b>CAPITULO 3</b></h5></font></a></b></h5>
            <ul>
                <h6>3 Tensiónes representativas a frecuencia Industrial (Urp-fi)</h6>
             </ul>
        </li>
         <li><h5><b><a class="btn btn-link" @click="tabla4"><font color="#336BFF"><h5><b>CAPITULO 4</b></h5></font></a></b></h5>
            <ul>
                <h6>4.4 Factor k para la determinación de las sobretensiones temporales (1)</h6>
                <h6>4.5 Sobretensiones representativas temporales (Urp-t)</h6>
             </ul>
        </li>
        <li><h5><b><a class="btn btn-link" @click="tabla5"><font color="#336BFF"><h5><b>CAPITULO 5</b></h5></font></a></b></h5>
            <ul>

                <h6>5.6 Uet - Upt(Sobretensiones representativas de frente lento considerados en la energización que afectan a todos los equipos)</h6>
                <h6>5.7 Uet - Upt (Sobretensiones representativas de frente lento considerados en la re-energización que afectan a todos los equipos)</h6>
                <h6>5.8 Urp-fl (Sobretensiones representativas de frente lento considerando limitación por DST)</h6>
             </ul>
        </li>
        <li><h5><b><a class="btn btn-link" @click="tabla6"><font color="#336BFF"><h5><b>CAPITULO 6</b></h5></font></a></b></h5>
            <ul>
                <h6>9 Tensiones de Coordinación a Frecuencia Industrial (Ucw-fi) (2)</h6>
             </ul>
        </li>
        <li><h5><b><a class="btn btn-link" @click="tabla7"><font color="#336BFF"><h5><b>CAPITULO 7</b></h5></font></a></b></h5>
            <ul>
                <h6>10 Tensiones de Coordinación para Sobretensiones Temporales (Ucw-t) (2)</h6>
             </ul>
        </li>
        <li><h5><b><a class="btn btn-link" @click="tabla8"><font color="#336BFF"><h5><b>CAPITULO 8</b></h5></font></a></b></h5>
            <ul>
                <h6>8.11 Valor de factor Kcd para sobretensiones de energización</h6>
                <h6>8.12 Valor de factor Kcd para sobretensiones de re-energización</h6>
                <h6>8.13 Tensión de coordinación para sobretensión de frente lento (Ucw-fl)
                    Para maniobras de energización</h6>
                <h6>8.14 Tensión de coordinación para sobretensión de frente lento (Ucw-fl)
                    Para maniobras de re-energización</h6>
             </ul>
        </li>
            
    </div>

</div>    
  
</template>


<script>

export default {
    



methods:{

        
        tabla1(){
             this.$router.push({name:'form'})
        },
        tabla2(){

             this.$router.push({name:'tabla2'})
        },
        tabla3(){
            this.$router.push({name:'tabla3'})
        },
        tabla4(){
            this.$router.push({name:'tabla4'})
        },
        tabla5(){
            this.$router.push({name:'tabla5'})
        },
        tabla6(){
            this.$router.push({name:'tabla6'})
        },
        tabla7(){
            this.$router.push({name:'tabla7'})
        },
        tabla8(){
            this.$router.push({name:'tabla8'})
        },
        proyecto(){
            this.$router.push({name:'project'})
        },
    }
}

</script>



<style lang="scss" scoped>
.idc-box { background: #f9f9f9 none repeat scroll 0 0; border: 1px solid #aaa; display: table; font-size: 95%; margin-bottom: 1em; padding: 20px; width: auto; .idc-titulo { font-weight: 1000; text-align: center; } li, ul, ul li{ padding: 0 5px; list-style: outside none none !important; } }


</style>



