<template>
    <div>
        <div class="container" style="padding-top:120px;height:100%">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><h3 style="text-align:center">Coordinación de aislamientos</h3></div>
                
                <div class="card-body" style="height:220px">
                
                 <form v-on:submit.prevent="createProject">
                   <div class="input-group"> 

                   <label for="text" align="center">Digite el nombre del proyecto</label>
                    <br>   
                    <br> 
                   <input type="text" name="name" v-model="name" class="form-control" id="text" style="width:90%" placeholder="Digite el nombre del proyecto" required>
                   <span class="input-group-btn">
                   <button type="submit" class="btn btn-primary">Crear</button>
                   <br>
                   </span>
                   </div>
                   </form>
                    <br>
                <br>  
                    <center>
                        <button type="submit" class="btn btn-primary"  @click="listApli">Aplicativos</button>
                        <button type="submit" class="btn btn-success"  @click="listProject">Buscar proyecto</button>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>

import axios from 'axios'
import toastr from 'toastr'

export default {
    data(){

        return {
            name: '',
            state: ''
        }
        
    },

    methods:{
        createProject(){
            let url = this.app_url+'/coordination/create'
            axios.post(url,{
                name: this.name, //es importante que el nombre de la variable sea igual al del campo de la bd nop borres
                state: '1'
            }).then(response =>{
                toastr.success('Se creo el proyecto exitosamente')
            }).catch(error =>{
                toastr.error('No se creo el proyecto')
            });
            this.$router.push({name:'form'})
        },

        listProject(){
            this.$router.push({name:'list'})
        },

        listApli(){
            this.$router.push({name:'inicio'})
        }
    }
}


</script>

<style lang="scss" scoped>


</style>

