<template>
    <div>
         <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
            <thead>
                <tr align="center" bgcolor="#F9DDDB">  
                    <th colspan="9">5.6 Uet - Upt (Sobretensiones representativas de frente lento considerados en la energización que afectan a todos los equipos)</th>
                </tr>
                 <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th rowspan="2" >Um <br> (kVp) <br> (Um * √2 / √3 </th>
                    <th rowspan="2">Ue2 <br> (p.u) 2</th>
                    <th rowspan="2">Up2 <br> (p.u) 3 </th>
                    <th rowspan="2">Uet <br> (p.u) <br> (1,25 * Ue2 (p.u) -0,25) </th>
                    <th rowspan="2">Upt <br> (p.u) <br> (1,25 * Up2 (p.u) -0,43) </th>
                    <th >Uet <br> (kVp) </th>
                    <th >Upt <br> (kVp) </th>
                </tr>  
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Un <br> (kV)</th>
                    <th>Um (1) <br> (kV) </th>
                    <th>Fase-tierra <br> (Uet (p.u) * Um (kVp)) </th>
                    <th>Fase-fase <br> (Upt (p.u) * Um (kVp)) </th>
                </tr>
                <!--<tr id="contador"><th colspan="9"><button type="submit" class="btn-primary">Add+</button></th><tr>-->   
                <tr>
                 <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="uet_upt_5_6s in uet_upt_5_6" :key="uet_upt_5_6s .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                             </th>      
                    <th>{{tension_maxima}}</th>
                    <th>{{um}}</th>
                    <th><input type="number" name="ue2" v-model="ue2" required>
                    <button type="submit" class="btn-primary" @click="createUet1">OK</button>
                    </th>
                    <th><input type="number" name="up2" v-model="up2" required>
                    <button type="submit" class="btn-primary" @click="createUp2">OK</button>
                    </th>
                    <th>{{uet}}</th>
                    <th>{{upt}}</th>
                    <th>{{uet2}}</th>
                    <th>{{upt2}}</th>
                    <th><button type="submit" class="btn-primary" @click="createEnergization">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="9">
                        (1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un<br>
                        (2) Valores de acuerdo a la Figura 1 de la IEC 60071-2<br>
                        (3) Valores de acuerdo a la Figura 2 de la IEC 60071-2<br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
            </thead>
         </table>
         <br>
         <br>
         <br>
         <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="11">Uet - Upt (Sobretensiones representativas de frente lento considerados en la energización que afectan a todos los equipos)</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th rowspan="2" >Um <br> (kVp) <br> (Um * √2 / √3 </th>
                    <th rowspan="2">Ue2 <br> (p.u) 2</th>
                    <th rowspan="2">Up2 <br> (p.u) 3 </th>
                    <th rowspan="2">Uet <br> (p.u) <br> (1,25 * Ue2 (p.u) -0,25) </th>
                    <th rowspan="2">Upt <br> (p.u) <br> (1,25 * Up2 (p.u) -0,43) </th>
                    <th >Uet <br> (kVp) </th>
                    <th >Upt <br> (kVp) </th>
                    <th colspan="2">Acciones</th>
                </tr>  
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Un <br> (kV)</th>
                    <th>Um (1) <br> (kV) </th>
                    <th>Fase-tierra <br> (Uet (p.u) * Um (kVp)) </th>
                    <th>Fase-fase <br> (Upt (p.u) * Um (kVp)) </th>
                    <th colspan="2"></th>
                </tr>
			</thead>
            <tbody>
                 <tr>
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{tension_maxima}}</th>
                    <th width="10px">{{um}}</th>
                    <th width="10px">{{ue2}}</th>
                    <th width="10px">{{up2}}</th>
                    <th width="10px">{{uet}}</th>
                    <th width="10px">{{upt}}</th>
                    <th width="10px">{{uet2}}</th>
                    <th width="10px">{{upt2}}</th>
                    
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
			</tbody>
           
         </table>
            <br>
            <br>
            <br>


        <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>
                <tr align="center" bgcolor="#F9DDDB">     
                    <th colspan="9">5.7 Uet - Upt (Sobretensiones representativas de frente lento considerados en la re-energización que afectan a todos los equipos)</th>
                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th rowspan="2" >Um <br> (kVp) <br> (Um * √2 / √3 </th>
                    <th rowspan="2">Ue2 <br> (p.u) 2</th>
                    <th rowspan="2">Up2 <br> (p.u) 3 </th>
                    <th rowspan="2">Uet <br> (p.u) <br> (1,25 * Ue2 (p.u) -0,25) </th>
                    <th rowspan="2">Upt <br> (p.u) <br> (1,25 * Up2 (p.u) -0,43) </th>
                    <th >Uet <br> (kVp) </th>
                    <th >Upt <br> (kVp) </th>
                </tr>  
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Un <br> (kV)</th>
                    <th>Um (1) <br> (kV) </th>
                    <th>Fase-tierra <br> (Uet (p.u) * Um (kVp)) </th>
                    <th>Fase-fase <br> (Upt (p.u) * Um (kVp)) </th>
                </tr>
                <!--<tr id="contador"><th colspan="9"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                <tr>
                   <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal_1" @click="createTensionNominal2" name="tension_nominal_1" v-model="tension_nominal_1" class="form-control">
                                    <option style='font-weight:bold;' v-for="uet_upt_5_7s in uet_upt_5_7" :key="uet_upt_5_7s .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                             </th>    
                    <th>{{tension_maxima_1}}</th>
                    <th>{{um_1}}</th>
                    <th><input type="number" name="ue2_1" v-model="ue2_1" required>
                    <button type="submit" class="btn-primary" @click="createUet2">OK</button>
                    </th>
                    <th><input type="number" name="up2_1" v-model="up2_1" required>
                    <button type="submit" class="btn-primary" @click="createUp2_2">OK</button>
                    </th>
                    <th>{{uet_1}}</th>
                    <th>{{upt_1}}</th>
                    <th>{{uet2_1}}</th>
                    <th>{{upt2_1}}</th>
                    <th><button type="submit" class="btn-primary" @click="createREnergization">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="9">
                        (1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un<br>
                        (2) Valores de acuerdo a la Figura 1 de la IEC 60071-2<br>
                        (3) Valores de acuerdo a la Figura 2 de la IEC 60071-2<br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
            </thead>
         </table>
         <br>
         <br>
         <br>

         <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="11">Uet - Upt (Sobretensiones representativas de frente lento considerados en la re-energización que afectan a todos los equipos)</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th rowspan="2" >Um <br> (kVp) <br> (Um * √2 / √3 </th>
                    <th rowspan="2">Ue2 <br> (p.u) 2</th>
                    <th rowspan="2">Up2 <br> (p.u) 3 </th>
                    <th rowspan="2">Uet <br> (p.u) <br> (1,25 * Ue2 (p.u) -0,25) </th>
                    <th rowspan="2">Upt <br> (p.u) <br> (1,25 * Up2 (p.u) -0,43) </th>
                    <th >Uet <br> (kVp) </th>
                    <th >Upt <br> (kVp) </th>
                    <th colspan="2">Acciones</th>
                </tr>  
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Un <br> (kV)</th>
                    <th>Um (1) <br> (kV) </th>
                    <th>Fase-tierra <br> (Uet (p.u) * Um (kVp)) </th>
                    <th>Fase-fase <br> (Upt (p.u) * Um (kVp)) </th>
                    <th colspan="2"></th>
                </tr>
			</thead>
            <tbody>
                <tr>
		
                    <th width="10px">{{tension_nominal_1}}</th>
                    <th width="10px">{{tension_maxima_1}}</th>
                    <th width="10px">{{um_1}}</th>
                    <th width="10px">{{ue2_1}}</th>
                    <th width="10px">{{up2_1}}</th>
                    <th width="10px">{{uet_1}}</th>
                    <th width="10px">{{upt_1}}</th>
                    <th width="10px">{{uet2_1}}</th>
                    <th width="10px">{{upt2_1}}</th>
                    
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
            </tbody>
         </table>
         <br>
         <br>
         <br>


    <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>
                <tr align="center" bgcolor="#F9DDDB">     
                    <th colspan="4">5.8 Urp-fl (Sobretensiones representativas de frente lento <br> considerando limitación por DST)</th>
                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Residual con Impulso Tipo Rayo</th>
                    <th colspan="2">Urp-fl <br> (kV) </th>
                <tr align="center" bgcolor="#F9DDDB">	
                    <th >Fase - Tierra</th>
                    <th >Fase - Fase</th>
                <tr>
                    </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Un <br> (kV)</th>
                        <th >Ups (1) <br> (kVp) <br> (1kA, 30/70 µs)  </th>
                        <th >= Ups </th>
                        <th >= 2*Ups</th>  
                    <tr>
                </tr>
                <!--<tr id="contador"><th colspan="4"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                <tr>
                   <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal_2" @click="createTensionNominal3" name="tension_nominal_2" v-model="tension_nominal_2" class="form-control">
                                    <option style='font-weight:bold;' v-for="uet_upt_5_8s in uet_upt_5_8" :key="uet_upt_5_8s .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                             </th>    
                    <th>{{tension_residual_rayo}}</th>
                    <th>{{fase_tierra1}}</th>
                    <th>{{fase_tierra2}}</th>
                    <th><button type="submit" class="btn-primary" @click="createUrpFi">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="4">
                        (1) Valor tomado de la Tabla 2 "Características de los DST"<br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
        </thead>
    </table>
    <br>
    <br>
    <br>

    <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="6">Urp-fl (Sobretensiones representativas de frente lento <br> considerando limitación por DST)</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Residual con Impulso Tipo Rayo</th>
                <tr align="center" bgcolor="#F9DDDB">	
                    <th >Fase - Tierra</th>
                    <th >Fase - Fase</th>
                    <th colspan="2">Acciones</th>
                <tr>
                    </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Un <br> (kV)</th>
                        <th >Ups (1) <br> (kVp) <br> (1kA, 30/70 µs)  </th>
                        <th >= Ups </th>
                        <th >= 2*Ups</th>
                        <th colspan="2"  ></th>
                    <tr>
                </tr>
			</thead>
            <tbody>
                <tr>
		
                    <th width="10px">{{tension_nominal_2}}</th>
                    <th width="10px">{{tension_residual_rayo}}</th>
                    <th width="10px">{{fase_tierra1}}</th>
                    <th width="10px">{{fase_tierra2}}</th>
                 
                  
                    
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
            </tbody>
    </table>


    
    </div>
    
</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {
    
    data(){

        return{

                 tension_nominal: '',
                 tension_maxima: '',
                 um: '',
                 ue2: '',
                 up2: '',
                 uet: '',
                 upt: '',
                 uet2: '',
                 upt2: '',
                 tension_nominal_1: '',
                 tension_maxima_1: '',
                 um_1: '',
                 ue2_1: '',
                 up2_1: '',
                 uet_1: '',
                 upt_1: '',
                 uet2_1: '',
                 upt2_1: '',
                 tension_nominal_2: '',
                 tension_residual_rayo: '',
                 fase_tierra1: '',
                 fase_tierra2: ''
        }
    },

    methods:{

         add(){

           var contador=0;
            contador++;

        },

        createEnergization(){

            let url = this.app_url+'/create/energization'
            axios.post(url,{

                 tension_nominal : this.tension_nominal,
                 tension_maxima : this.tension_maxima,
                 um : this.um,
                 ue2 : this.ue2,
                 up2: this.up2,
                 uet : this.uet,
                 upt : this.upt,
                 uet2 : this.uet2,
                 upt2 : this.upt2,
                 
            }).then(response =>{
                toastr.success('Se creo la Sobretension representativa de frente lento considerando en la energización')
            }).catch(error =>{
                toastr.error('No se creo la Sobretension representativa de frente lento considerando en la energización')
            });
        
              this.$router.push({name:'tabla5'})
             },

        indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },

         createREnergization(){

                let url = this.app_url+'/create/re_energization'
                 axios.post(url,{

                 tension_nominal_1 : this.tension_nominal_1,
                 tension_maxima_1 : this.tension_maxima_1,
                 um_1 : this.um_1,
                 ue2_1 : this.ue2_1,
                 up2_1 : this.up2_1,
                 uet_1 : this.uet_1,
                 upt_1 : this.upt_1,
                 uet2_1 : this.uet2_1,
                 upt2_1 : this.upt2_1,


            }).then(response =>{
                toastr.success('Se creo la Sobretension representativa de frente lento considerando en la re-energización')
            }).catch(error =>{
                toastr.error('No se creo la Sobretension representativa de frente lento considerando en la re-energización')
            });
        
              this.$router.push({name:'tabla5'})
 
            },

        createUrpFi(){

                let url = this.app_url+'/create/sobretension_dst'
                 axios.post(url,{

                 tension_nominal_2 : this.tension_nominal_2,
                 tension_residual_rayo : this.tension_residual_rayo,
                 fase_tierra1 : this.fase_tierra1,
                 fase_tierra2 : this.fase_tierra2

            }).then(response =>{
                toastr.success('Se creo la Sobretension representativa de frente lento considerando limitación por DST')
            }).catch(error =>{
                toastr.error('No se creo la Sobretension representativa de frente lento considerando limitación por DST')
            });
        
              this.$router.push({name:'tabla5'})
 
            },


        createUet1(){

           this.uet = (1.25*this.ue2)-0.25;

           this.uet2 = this.uet*this.um;

        },
        createUp2(){

            this.upt = (1.25*this.up2)-0.43;

            this.upt2 = this.upt*this.um;

        },
        createUet2(){

            this.uet_1 = (1.25*this.ue2_1)-0.25;

            this.uet2_1 = this.uet_1*this.um_1;


        },
        createUp2_2(){

            this.upt_1 = (1.25*this.up2_1)-0.43;

            this.upt2_1 = this.upt_1*this.um_1;

        },
        createTensionNominal(){
          
            if(this.tension_nominal==2.4){
                this.tension_maxima = 3.6;
                    this.um = (this.tension_maxima*1.4)/1.7;
                       
               
                
            }else{
                if(this.tension_nominal==4.2){
                    this.tension_maxima =7.2;
                        this.um = (this.tension_maxima*1.4)/1.7;
                           
                  
                }else{
                    if(this.tension_nominal==4.16){
                        this.tension_maxima =7.2;
                            this.um = (this.tension_maxima*1.4)/1.7;
                               
                          
                      
                    }else{
                        if(this.tension_nominal==11.4){
                            this.tension_maxima =12;
                                this.um = (this.tension_maxima*1.4)/1.7;
                                  
                              
                        }else{
                            if(this.tension_nominal==13.2){
                                this.tension_maxima =17.5; 
                                    this.um = (this.tension_maxima*1.4)/1.7;
                                       
                                
                                
                            }else{
                                if(this.tension_nominal==13.8){
                                    this.tension_maxima =17.5;
                                        this.um = (this.tension_maxima*1.4)/1.7;
                                           
                                      
                                   
                                }else{
                                    if(this.tension_nominal==33){
                                        this.tension_maxima=36;
                                            this.um = (this.tension_maxima*1.4)/1.7;
                                               
                                         
                                    }else{
                                        if(this.tension_nominal==34.5){
                                            this.tension_maxima =36;
                                                this.um = (this.tension_maxima*1.4)/1.7;
                                                   
                                             
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        createTensionNominal2(){

              if(this.tension_nominal_1==2.4){
                this.tension_maxima_1 = 3.6;
                    this.um_1 = (this.tension_maxima_1*1.14)/1.7;
               
                
            }else{
                if(this.tension_nominal_1==4.2){
                    this.tension_maxima_1 =7.2;
                        this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                   
                  
                }else{
                    if(this.tension_nominal_1==4.16){
                        this.tension_maxima_1 =7.2;
                            this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                          
                      
                    }else{
                        if(this.tension_nominal_1==11.4){
                            this.tension_maxima_1 =12;
                                this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                              
                        }else{
                            if(this.tension_nominal_1==13.2){
                                this.tension_maxima_1 =17.5; 
                                    this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                                
                                
                            }else{
                                if(this.tension_nominal_1==13.8){
                                    this.tension_maxima_1 =17.5;
                                        this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                                      
                                   
                                }else{
                                    if(this.tension_nominal_1==33){
                                        this.tension_maxima_1=36;
                                            this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                                         
                                    }else{
                                        if(this.tension_nominal_1==34.5){
                                            this.tension_maxima_1 =36;
                                                this.um_1 = (this.tension_maxima_1*1.14)/1.7;
                                             
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        createTensionNominal3(){

         if(this.tension_nominal_2==2.4){
             this.tension_residual_rayo = 6.2;
                this.fase_tierra1 = this.tension_residual_rayo;
                    this.fase_tierra2 =this.tension_residual_rayo*2;
                
            }else{
                if(this.tension_nominal_2==4.2){
                    this.tension_residual_rayo = 12.2;
                           this.fase_tierra1 = this.tension_residual_rayo;
                                 this.fase_tierra2 =this.tension_residual_rayo*2; 
                }else{
                    if(this.tension_nominal_2==4.16){
                        this.tension_residual_rayo = 12.2;
                            this.fase_tierra1 = this.tension_residual_rayo;
                                 this.fase_tierra2 =this.tension_residual_rayo*2; 
                      
                    }else{
                        if(this.tension_nominal_2==11.4){
                           this.tension_residual_rayo = 22.7;
                                this.fase_tierra1 = this.tension_residual_rayo;
                                    this.fase_tierra2 =this.tension_residual_rayo*2; 
                              
                        }else{
                            if(this.tension_nominal_2==13.2){
                                this.tension_residual_rayo = 30.3;
                                    this.fase_tierra1 = this.tension_residual_rayo;
                                         this.fase_tierra2 =this.tension_residual_rayo*2; 

                            }else{
                                if(this.tension_nominal_2==13.8){
                                    this.tension_residual_rayo = 30.3;
                                        this.fase_tierra1 = this.tension_residual_rayo;
                                            this.fase_tierra2 =this.tension_residual_rayo*2; 
                                   
                                }else{
                                    if(this.tension_nominal_2==33){
                                        this.tension_residual_rayo = 60.6;
                                            this.fase_tierra1 = this.tension_residual_rayo;
                                                this.fase_tierra2 =this.tension_residual_rayo*2; 

                                    }else{
                                        if(this.tension_nominal_2==34.5){
                                             this.tension_residual_rayo = 60.6;
                                                this.fase_tierra1 = this.tension_residual_rayo;
                                                    this.fase_tierra2 =this.tension_residual_rayo*2; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

     }
 }
    


</script>

<style lang="scss" scoped>


</style>



