<template>
    <div>
         <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
            <thead>
               <tr align="center" bgcolor="#F9DDDB"> 
                    <th colspan="12">8.11 Valor de factor Kcd para sobretensiones de energización</th>
              </tr>
              <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th colspan="2" >Tensión máxima de Coordinación a Frecuencia Industrial</th>
                    <th >Tensión Residual con Impulso Tipo Rayo</th>
                    <th colspan="8">Clase de sobretensión</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th rowspan="2" >Un <br> (kV)</th>
                        <th rowspan="2">Um <br> Fase-Tierra (kVp) (1)</th>
                        <th rowspan="2">Um <br> Fase-Fase (kVp) (1)</th>
                        <th rowspan="2" >Ups <br> (kVp) (2) <br> (1kA, 30/70 µs)  </th>
                        <th colspan="4" >Fase - Tierra [Se busca en la gráfica  (a)]</th>
                        <th colspan="4">Fase - Fase [Se busca en la gráfica (b)]</th>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Ue2 (p.u) (3)</th>
                        <th >Ue2 (kVp) <br> [Um (kVp) * Ue2 (p.u)] </th>
                        <th >Relación <br> Ups/Ue2</th>
                        <th >Kcd</th>
                        <th >Up2 (p.u) (3)</th>
                        <th >Up2 (kV)</th>
                        <th >Relación <br> 2Ups/Up2</th>
                        <th >Kcd</th>
                    </tr>
                <tr>
                    </tr>
                <tr id="contador"><tr>
                   <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="kcd11n in kcd11" :key="kcd11n.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                    <th >{{um1}}</th>
                    <th >{{um2}}</th>
                    <th >{{tension_residual_rayo}}</th>
                    <th >{{ue2_pu}}</th>
                    <th >{{ue2_kvp}}</th>
                    <th >{{relacion_ups}}</th>
                    <th ><input type="number" name="kcd" v-model="kcd" required></th>
                    <th >{{up2_pu}}</th>
                    <th >{{up2_kv}}</th>
                    <th >{{relacion2_ups}}</th>
                    <th ><input type="number" name="kcd2" v-model="kcd2" required></th>
                </tr>
                <tr><th colspan="16"><button type="submit" class="btn-primary" @click="createManeuvers">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="12">
                        (1) Valor tomado de la Tabla 9 "Tensiones de Coordinación a Frecuencia Industrial " <br>
                        (2) Valor tomado de la Tabla 2 "Características de los DST" <br>
                        (3) Valor tomado de la Tabla 6 "Sobretensiones representativas de frente lento considerados en la energización que afectan a todos los equipos" <br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
            </thead>
         </table>
         <br>
         <br>
         <br>

         <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="14">Valor de factor Kcd para sobretensiones de energización</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th colspan="2" >Tensión máxima de Coordinación a Frecuencia Industrial</th>
                    <th >Tensión Residual con Impulso Tipo Rayo</th>
                    <th colspan="8">Clase de sobretensión</th>
                    <th colspan="2">Acciones</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th rowspan="2" >Un <br> (kV)</th>
                        <th rowspan="2">Um <br> Fase-Tierra (kVp) (1)</th>
                        <th rowspan="2">Um <br> Fase-Fase (kVp) (1)</th>
                        <th rowspan="2" >Ups <br> (kVp) (2) <br> (1kA, 30/70 µs)  </th>
                        <th colspan="4" >Fase - Tierra [Se busca en la gráfica  (a)]</th>
                        <th colspan="4">Fase - Fase [Se busca en la gráfica (b)]</th>
                        <th colspan="2"></th>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Ue2 (p.u) (3)</th>
                        <th >Ue2 (kVp) <br> [Um (kVp) * Ue2 (p.u)] </th>
                        <th >Relación <br> Ups/Ue2</th>
                        <th >Kcd</th>
                        <th >Up2 (p.u) (3)</th>
                        <th >Up2 (kV)</th>
                        <th >Relación <br> 2Ups/Up2</th>
                        <th >Kcd</th>
                        <th colspan="2"></th>
                    </tr>
	
            </thead>
            <tbody>

                 <tr>
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{um1}}</th>
                    <th width="10px">{{um2}}</th>
                    <th width="10px">{{tension_residual_rayo}}</th>
                    <th width="10px">{{ue2_pu}}</th>
                    <th width="10px">{{ue2_kvp}}</th>
                    <th width="10px">{{relacion_ups}}</th>
                    <th width="10px">{{kcd}}</th>
                    <th width="10px">{{up2_pu}}</th>
                    <th width="10px">{{up2_kv}}</th>
                    <th width="10px">{{relacion2_ups}}</th>
                    <th width="10px">{{kcd2}}</th>
                    
    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
               

            </tbody>
         </table>

         <br>
         <br>
         <br>
          <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
            <thead>
               <tr align="center" bgcolor="#F9DDDB"> 
                    <th colspan="12">8.12 Valor de factor Kcd para sobretensiones de re-energización</th>
              </tr>
              <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th colspan="2" >Tensión máxima de Coordinación a Frecuencia Industrial</th>
                    <th >Tensión Residual con Impulso Tipo Rayo</th>
                    <th colspan="8">Clase de sobretensión</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th rowspan="2" >Un <br> (kV)</th>
                        <th rowspan="2">Um <br> Fase-Tierra (kVp) (1)</th>
                        <th rowspan="2">Um <br> Fase-Fase (kVp) (1)</th>
                        <th rowspan="2" >Ups <br> (kVp) (2) <br> (1kA, 30/70 µs)  </th>
                        <th colspan="4" >Fase - Tierra [Se busca en la gráfica  (a)]</th>
                        <th colspan="4">Fase - Fase [Se busca en la gráfica (b)]</th>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Ue2 (p.u) (3)</th>
                        <th >Ue2 (kVp) <br> [Um (kVp) * Ue2 (p.u)] </th>
                        <th >Relación <br> Ups/Ue2</th>
                        <th >Kcd</th>
                        <th >Up2 (p.u) (3)</th>
                        <th >Up2 (kV)</th>
                        <th >Relación <br> 2Ups/Up2</th>
                        <th >Kcd</th>
                    </tr>
                <tr>
                    </tr>
                <!--<tr id="contador"><th colspan="12"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                <tr>
                     <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominaln" @click="createTensionNominal2" name="tension_nominaln" v-model="tension_nominaln" class="form-control">
                                    <option style='font-weight:bold;' v-for="kcd12n in kcd12" :key="kcd12n .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                    <th >{{um1_1}}</th>
                    <th >{{um2_1}}</th>
                    <th >{{tension_residual_rayo_1}}</th>
                    <th >{{ue2_pu_1}}</th>
                    <th >{{ue2_kvp_1}}</th>
                    <th >{{relacion_ups_1}}</th>
                    <th ><input type="number" name="kcd_1" v-model="kcd_1" required></th>
                    <th >{{up2_pu_1}}</th>
                    <th >{{up2_kv_1}}</th>
                    <th >{{relacion2_ups_1}}</th>
                    <th ><input type="number" name="kcd2_1" v-model="kcd2_1" required></th>
                </tr>
                <tr><th colspan="16"><button type="submit" class="btn-primary" @click="createRManeuvers">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="12">
                        (1) Valor tomado de la Tabla 9 "Tensiones de Coordinación a Frecuencia Industrial " <br>
                        (2) Valor tomado de la Tabla 2 "Características de los DST" <br>
                        (3) Valor tomado de la Tabla 6 "Sobretensiones representativas de frente lento considerados en la energización que afectan a todos los equipos" <br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
            </thead>
         </table>
         <br>
         <br>
         <br>
         <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="14">Valor de factor Kcd para sobretensiones de re-energización</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th colspan="2" >Tensión máxima de Coordinación a Frecuencia Industrial</th>
                    <th >Tensión Residual con Impulso Tipo Rayo</th>
                    <th colspan="8">Clase de sobretensión</th>
                    <th colspan="2">Acciones</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th rowspan="2" >Un <br> (kV)</th>
                        <th rowspan="2">Um <br> Fase-Tierra (kVp) (1)</th>
                        <th rowspan="2">Um <br> Fase-Fase (kVp) (1)</th>
                        <th rowspan="2" >Ups <br> (kVp) (2) <br> (1kA, 30/70 µs)  </th>
                        <th colspan="4" >Fase - Tierra [Se busca en la gráfica  (a)]</th>
                        <th colspan="4">Fase - Fase [Se busca en la gráfica (b)]</th>
                        <th colspan="2"></th>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Ue2 (p.u) (3)</th>
                        <th >Ue2 (kVp) <br> [Um (kVp) * Ue2 (p.u)] </th>
                        <th >Relación <br> Ups/Ue2</th>
                        <th >Kcd</th>
                        <th >Up2 (p.u) (3)</th>
                        <th >Up2 (kV)</th>
                        <th >Relación <br> 2Ups/Up2</th>
                        <th >Kcd</th>
                        <th colspan="2"></th>
                    </tr>
	
            </thead>
            <tbody>

                 <tr>
		
                    <th width="10px">{{tension_nominaln}}</th>
                    <th width="10px">{{um1_1}}</th>
                    <th width="10px">{{um2_1}}</th>
                    <th width="10px">{{tension_residual_rayo_1}}</th>
                    <th width="10px">{{ue2_pu_1}}</th>
                    <th width="10px">{{ue2_kvp_1}}</th>
                    <th width="10px">{{relacion_ups_1}}</th>
                    <th width="10px">{{kcd_1}}</th>
                    <th width="10px">{{up2_pu_1}}</th>
                    <th width="10px">{{up2_kv_1}}</th>
                    <th width="10px">{{relacion2_ups_1}}</th>
                    <th width="10px">{{kcd2_1}}</th>
                    
    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
               

            </tbody>
         </table>
         <br>
         <br>
         <br>
            <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
                <thead>
                    <tr align="center" bgcolor="#F9DDDB"> 
                        <th colspan="7">8.13 Tensión de coordinación para sobretensión de frente lento (Ucw-fl)<br>
                            Para maniobras de energización</th>
                     </tr>
                     <tr align="center" bgcolor="#F9DDDB"> 
                         <th rowspan="4">Nivel de tensión (kV)</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="6">Clase de sobretensión</th>
                        <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="3">Fase - Tierra</th>
                             <th colspan="3">Fase - Fase</th> 
                         <tr align="center" bgcolor="#F9DDDB">
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>  
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>
                         </tr>  
                        <tr> 
                    </tr>
                    <!--<tr id="contador"><th colspan="7"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                    <tr>
                        <th style='background-color:#96A6F5;' colspan="1">
                                <select id="nivel_tension_kv" @click="createNivelTensionKv" name="nivel_tension_kv" v-model="nivel_tension_kv" class="form-control">
                                    <option style='font-weight:bold;' v-for="kcd_8_13_n in kcd_8_13" :key="kcd_8_13_n .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                        <th >{{urp_kv}}</th>
                        <th >{{kcd_n}}</th>
                        <th >{{ucw_kv}}</th>
                        <th >{{urp_kv_1}}</th>
                        <th >{{kcd_1n}}</th>
                        <th >{{ucw_kv_1}}</th>
                        <th><button type="submit" class="btn-primary" @click="createmaneuvers1">Guardar</button></th>
                    </tr>
                    <tr>
                        <th colspan="7">
                            (1) Valor tomado de la Tabla 9 "Tensiones de Coordinación a Frecuencia Industrial "<br>
                            (2) Valor tomado de la Tabla 11 "Valor de factor Kcd para sobretensiones de energización" <br>
                            <button type="button" class="btn btn-default" @click="indice">Indice</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <br>
            <br>
        <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="16">Tensión de coordinación para sobretensión de frente lento (Ucw-fl)<br>
                            Para maniobras de energización</th>

                </tr>
                 
                     <tr align="center" bgcolor="#F9DDDB"> 
                         <th rowspan="4">Nivel de tensión (kV)</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="8">Clase de sobretensión</th>
                        <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="3">Fase - Tierra</th>
                             <th colspan="3">Fase - Fase</th> 
                             <th colspan="2">Acciones</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>  
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>
                             <th colspan="2"></th>
                         </tr> 
			        </thead>
                        <tbody>
                             <tr>
		
                    <th width="10px">{{nivel_tension_kv}}</th>
                    <th width="10px">{{urp_kv}}</th>
                    <th width="10px">{{kcd_n}}</th>
                    <th width="10px">{{ucw_kv}}</th>
                    <th width="10px">{{urp_kv_1}}</th>
                    <th width="10px">{{kcd_1n}}</th>
                    <th width="10px">{{ucw_kv_1}}</th>
                     
    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
               
                        </tbody>
             </table>

            <br>
            <br>
            <br>
             <table  border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
                <thead>
                    <tr align="center" bgcolor="#F9DDDB"> 
                        <th colspan="7">8.14 Tensión de coordinación para sobretensión de frente lento (Ucw-fl)<br>
                                Para maniobras de re-energización</th>
                     </tr>
                     <tr align="center" bgcolor="#F9DDDB"> 
                         <th rowspan="4">Nivel de tensión (kV)</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="6">Clase de sobretensión</th>
                        <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="3">Fase - Tierra</th>
                             <th colspan="3">Fase - Fase</th> 
                         <tr align="center" bgcolor="#F9DDDB">
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>  
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>
                         </tr>  
                        <tr> 
                    </tr>
                    <!--<tr id="contador"><th colspan="7"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                    <tr>
                      <th style='background-color:#96A6F5;' colspan="1">
                                <select id="nivel_tension_kv_2" @click="createNivelTensionKv2" name="nivel_tension_kv_2" v-model="nivel_tension_kv_2" class="form-control">
                                    <option style='font-weight:bold;' v-for="kcd_8_14_n in kcd_8_14" :key="kcd_8_14_n .id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                        <th >{{urp_kv_2}}</th>
                        <th >{{kcd_2n}}</th>
                        <th >{{ucw_kv_2}}</th>
                        <th >{{urp_kv_1_2}}</th>
                        <th >{{kcd_1_2}}</th>
                        <th >{{ucw_kv_1_2}}</th>
                        <th><button type="submit" class="btn-primary" @click="createmaneuvers2">Guardar</button></th>
                    </tr>
                    <tr>
                        <th colspan="7">
                            (1) Valor tomado de la Tabla 9 "Tensiones de Coordinación a Frecuencia Industrial " <br>
                            (2) Valor tomado de la Tabla 11 "Valor de factor Kcd para sobretensiones de energización" <br>
                            <button type="button" class="btn btn-default" @click="indice">Indice</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <br>
            <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="16">Tensión de coordinación para sobretensión de frente lento (Ucw-fl)<br>
                            Para maniobras de re-energización</th>

                </tr>
                 
                     <tr align="center" bgcolor="#F9DDDB"> 
                         <th rowspan="4">Nivel de tensión (kV)</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="8">Clase de sobretensión</th>
                        <tr align="center" bgcolor="#F9DDDB">
                             <th colspan="3">Fase - Tierra</th>
                             <th colspan="3">Fase - Fase</th> 
                             <th colspan="2">Acciones</th>
                         <tr align="center" bgcolor="#F9DDDB">
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>  
                             <th >Urp (1) <br> (kV)</th>
                             <th >Kcd (2)</th>
                             <th >Ucw-fl <br> (kV)</th>
                             <th colspan="2"></th>
                         </tr> 
			        </thead>
                        <tbody>
                             <tr>

                        <th width="10px">{{urp_kv_2}}</th>
                        <th width="10px">{{kcd_2n}}</th>
                        <th width="10px">{{ucw_kv_2}}</th>
                        <th width="10px">{{urp_kv_1_2}}</th>
                        <th width="10px">{{kcd_1_2}}</th>
                        <th width="10px">{{ucw_kv_1_2}}</th>
    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
               
                        </tbody>
             </table>

        </div>  
</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {

    data(){

        return{

            tension_nominal: '',
            um1: '',
            um2: '',
            tension_residual_rayo: '',
            ue2_pu: '',
            ue2_kvp: '',
            relacion_ups: '',
            kcd: '',
            up2_pu: '',
            up2_kv: '',
            relacion2_ups: '',
            kcd2: '',
            tension_nominaln: '',
            um1_1: '',
            um2_1: '',
            tension_residual_rayo_1: '',
            ue2_pu_1: '',
            ue2_kvp_1: '',
            relacion_ups_1: '',
            kcd_1: '',
            up2_pu_1: '',
            up2_kv_1: '',
            relacion2_ups_1: '',
            kcd2_1: '',
            nivel_tension_kv: '',
            urp_kv: '',
            kcd_n: '',
            ucw_kv: '',
            urp_kv_1: '',
            kcd_1n: '',
            ucw_kv_1: '',
            nivel_tension_kv_2: '',
            urp_kv_2: '',
            kcd_2n: '',
            ucw_kv_2: '',
            urp_kv_1_2: '',
            kcd_1_2: '',
            ucw_kv_1_2: ''


        }
    },

        methods:{

        add(){

           var contador=0;
            contador++;

        },

        createManeuvers(){

            let url = this.app_url+'/create/sobretension_energization'
            axios.post(url,{

            tension_nominal : this.tension_nominal,
            um1 : this.um1,
            um2 : this.um2,
            tension_residual_rayo : this.tension_residual_rayo,
            ue2_pu : this.ue2_pu,
            ue2_kvp : this.ue2_kvp,
            relacion_ups : this.relacion_ups,
            kcd : this.kcd,
            up2_pu : this.up2_pu,
            up2_kv : this.up2_kv,
            relacion2_ups : this.relacion2_ups,
            kcd2 : this.kcd2,

            }).then(response =>{
                toastr.success('Se creó el Valor de factor Kcd para sobretensiones de energización')
            }).catch(error =>{
                toastr.error('No Se creó el Valor de factor Kcd para sobretensiones de energización')
            });
        
              this.$router.push({name:'tabla8'})
 
            },

            indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },

            createRManeuvers(){

                let url = this.app_url+'/create/sobretension_re_energization'
                 axios.post(url,{

                tension_nominaln : this.tension_nominaln,
                um1_1 : this.um1_1,
                um2_1 : this.um2_1,
                tension_residual_rayo_1 : this.tension_residual_rayo_1,
                ue2_pu_1 : this.ue2_pu_1,
                ue2_kvp_1 : this.ue2_kvp_1,
                relacion_ups_1 : this.relacion_ups_1,
                kcd_1 : this.kcd_1,
                up2_pu_1 : this.ue2_pu_1,
                up2_kv_1 : this.up2_kv_1,
                relacion2_ups_1 : this.relacion2_ups_1,
                kcd2_1 : this.kcd2_1

            }).then(response =>{
                toastr.success('Se creó el Valor de factor Kcd para sobretensiones de re-energización')
            }).catch(error =>{
                toastr.error('No Se creó el Valor de factor Kcd para sobretensiones de re-energización')
            });
        
              this.$router.push({name:'tabla8'})
 
            },

            createmaneuvers1(){

                let url = this.app_url+'/create/maneuvers_1'
                 axios.post(url,{

                nivel_tension_kv: this.nivel_tension_kv,
                urp_kv: this.urp_kv,
                kcd_n: this.kcd_n,
                ucw_kv: this.ucw_kv,
                urp_kv_1: this.urp_kv_1,
                kcd_1n: this.kcd_1n,
                ucw_kv_1: this.ucw_kv_1

            }).then(response =>{
                toastr.success('Se creó la Tensión de coordinación para sobretensión de frente lento (Ucw-fl) Para maniobras de energización')
            }).catch(error =>{
                toastr.error('No se creó la Tensión de coordinación para sobretensión de frente lento (Ucw-fl) Para maniobras de energización')
            });
        
              this.$router.push({name:'tabla8'})
 
            },
             createmaneuvers2(){

                let url = this.app_url+'/create/maneuvers2'
                 axios.post(url,{

                nivel_tension_kv_2: this.nivel_tension_kv_2,
                urp_kv_2: this.urp_kv_2,
                kcd_2n: this.kcd_2n,
                ucw_kv_2: this.ucw_kv_2,
                urp_kv_1_2: this.urp_kv_1_2,
                kcd_1_2: this.kcd_1_2,
                ucw_kv_1_2: this.ucw_kv_1_2

            }).then(response =>{
                toastr.success('Se creó la Tensión de coordinación para sobretensión de frente lento (Ucw-fl) Para maniobras de re-energización')
            }).catch(error =>{
                toastr.error('No se creó la Tensión de coordinación para sobretensión de frente lento (Ucw-fl) Para maniobras de re-energización')
            });
        
              this.$router.push({name:'tabla8'})
 
            },

               createTensionNominal(){
          
                if(this.tension_nominal==2.4){
                    this.um1 = 2.9;
                        this.um2 = 5.1;
                            this.tension_residual_rayo = 6.20;
                                this.ue2_pu = 1.20;
                                    this.ue2_kvp = this.um1*this.ue2_pu;
                                        this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                            this.up2_pu = 2.0;
                                                this.up2_kv = this.up2_pu*this.um2;
                                                    this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                        }else{
                            if(this.tension_nominal==4.2){
                                this.um1 = 5.9;
                                    this.um2 = 10.2;
                                        this.tension_residual_rayo = 12.20;
                                            this.ue2_pu = 1.20;
                                                this.ue2_kvp = this.um1*this.ue2_pu;
                                                    this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                        this.up2_pu = 2.0;
                                                             this.up2_kv = this.up2_pu*this.um2;
                                                                this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                }else{
                                    if(this.tension_nominal==4.16){
                                       this.um1 = 5.9;
                                            this.um2 = 10.2;
                                                this.tension_residual_rayo = 12.20;
                                                    this.ue2_pu = 1.20;
                                                        this.ue2_kvp = this.um1*this.ue2_pu;
                                                            this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                this.up2_pu = 2.0;
                                                                     this.up2_kv = this.up2_pu*this.um2;
                                                                       this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                        }else{
                                            if(this.tension_nominal==11.4){
                                                this.um1 = 9.8;
                                                    this.um2 = 17.0;
                                                        this.tension_residual_rayo = 22.70;
                                                            this.ue2_pu = 1.20;
                                                                this.ue2_kvp = this.um1*this.ue2_pu;
                                                                    this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                        this.up2_pu = 2.0;
                                                                            this.up2_kv = this.up2_pu*this.um2;
                                                                                this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                                }else{
                                                    if(this.tension_nominal==13.2){
                                                        this.um1 = 14.3;
                                                            this.um2 = 24.7;
                                                                this.tension_residual_rayo = 30.30;
                                                                    this.ue2_pu = 1.20;
                                                                        this.ue2_kvp = this.um1*this.ue2_pu;
                                                                            this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                                this.up2_pu = 2.0;
                                                                                     this.up2_kv = this.up2_pu*this.um2;
                                                                                        this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                                        }else{
                                                            if(this.tension_nominal==13.8){
                                                                this.um1 = 14.3;
                                                                    this.um2 = 24.7;
                                                                        this.tension_residual_rayo = 30.30;
                                                                            this.ue2_pu = 1.20;
                                                                                this.ue2_kvp = this.um1*this.ue2_pu;
                                                                                    this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                                        this.up2_pu = 2.0;
                                                                                             this.up2_kv = this.up2_pu*this.um2;
                                                                                                this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                                            }else{
                                                                if(this.tension_nominal==33){
                                                                    this.um1 = 29.4;
                                                                        this.um2 = 50.9;
                                                                            this.tension_residual_rayo = 60.60;   
                                                                                this.ue2_pu = 1.20;
                                                                                    this.ue2_kvp = this.um1*this.ue2_pu;
                                                                                        this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                                            this.up2_pu = 2.0;
                                                                                                 this.up2_kv = this.up2_pu*this.um2;
                                                                                                    this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                                                }else{
                                                                    if(this.tension_nominal==34.5){
                                                                         this.um1 = 29.4;
                                                                            this.um2 = 50.9;
                                                                                this.tension_residual_rayo = 60.60;   
                                                                                    this.ue2_pu = 1.20;
                                                                                        this.ue2_kvp = this.um1*this.ue2_pu;
                                                                                            this.relacion_ups = this.tension_residual_rayo/this.ue2_kvp;
                                                                                                this.up2_pu = 2.0;
                                                                                                     this.up2_kv = this.up2_pu*this.um2;
                                                                                                                                                    this.relacion2_ups = 2*this.tension_residual_rayo/this.up2_kv;
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },

     createTensionNominal2(){

         if(this.tension_nominaln==2.4){
                    this.um1_1 = 2.9;
                        this.um2_1 = 5.1;
                            this.tension_residual_rayo_1 = 6.20;
                                this.ue2_pu_1 = 2.0;
                                    this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                        this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                            this.up2_pu_1 = 3.2;
                                                this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                    this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                        }else{
                            if(this.tension_nominaln==4.2){
                                this.um1_1 = 5.9;
                                    this.um2_1 = 10.2;
                                        this.tension_residual_rayo_1 = 12.20;
                                            this.ue2_pu_1 = 2.0;
                                                this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                    this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                        this.up2_pu_1 = 3.2;
                                                             this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                }else{
                                    if(this.tension_nominaln==4.16){
                                       this.um1_1 = 5.9;
                                            this.um2_1 = 10.2;
                                                this.tension_residual_rayo_1 = 12.20;
                                                    this.ue2_pu_1 = 2.0;
                                                        this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                            this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                this.up2_pu_1 = 3.2;
                                                                     this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                       this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                        }else{
                                            if(this.tension_nominaln==11.4){
                                                this.um1_1 = 9.8;
                                                    this.um2_1 = 17.0;
                                                        this.tension_residual_rayo_1 = 22.70;
                                                            this.ue2_pu_1 = 2.0;
                                                                this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                                    this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                        this.up2_pu_1 = 3.2;
                                                                            this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                                this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                                }else{
                                                    if(this.tension_nominaln==13.2){
                                                        this.um1_1 = 14.3;
                                                            this.um2_1 = 24.7;
                                                                this.tension_residual_rayo_1 = 30.30;
                                                                    this.ue2_pu_1 = 2.0;
                                                                        this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                                            this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                                this.up2_pu_1 = 3.2;
                                                                                     this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                                        this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                                        }else{
                                                            if(this.tension_nominaln==13.8){
                                                                this.um1_1 = 14.3;
                                                                    this.um2_1 = 24.7;
                                                                        this.tension_residual_rayo_1 = 30.30;
                                                                            this.ue2_pu_1 = 2.0;
                                                                                this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                                                    this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                                        this.up2_pu_1 = 3.2;
                                                                                             this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                                                this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                                            }else{
                                                                if(this.tension_nominaln==33){
                                                                    this.um1_1 = 29.4;
                                                                        this.um2_1 = 50.9;
                                                                            this.tension_residual_rayo_1 = 60.60;   
                                                                                this.ue2_pu_1 = 2.0;
                                                                                    this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                                                        this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                                            this.up2_pu_1 = 3.2;
                                                                                                 this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                                                    this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                                                }else{
                                                                    if(this.tension_nominaln==34.5){
                                                                         this.um1_1 = 29.4;
                                                                            this.um2_1 = 50.9;
                                                                                this.tension_residual_rayo_1 = 60.60;   
                                                                                    this.ue2_pu_1 = 2.0;
                                                                                        this.ue2_kvp_1 = this.um1_1*this.ue2_pu_1;
                                                                                            this.relacion_ups_1 = this.tension_residual_rayo_1/this.ue2_kvp_1;
                                                                                                this.up2_pu_1 = 3.2;
                                                                                                     this.up2_kv_1 = this.up2_pu_1*this.um2_1;
                                                                                                        this.relacion2_ups_1 = 2*this.tension_residual_rayo_1/this.up2_kv_1;
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    } ,
                createNivelTensionKv(){

                     if(this.nivel_tension_kv==2.4){
                          this.urp_kv = 6.2;
                            this.kcd_n = 1;
                                this.ucw_kv = this.urp_kv*this.kcd_n;
                                    this.urp_kv_1 = 12.4;
                                        this.kcd_1n = 1;
                                            this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                    
                        }else{
                            if(this.nivel_tension_kv==4.2){
                                this.urp_kv = 12.2;
                                    this.kcd_n = 1;
                                        this.ucw_kv = this.urp_kv*this.kcd_n;
                                            this.urp_kv_1 = 24.4;
                                                this.kcd_1n = 1;
                                                    this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                             
                                }else{
                                    if(this.nivel_tension_kv==4.16){
                                        this.urp_kv = 12.2;
                                            this.kcd_n = 1;
                                                this.ucw_kv = this.urp_kv*this.kcd_n;
                                                    this.urp_kv_1 = 24.4;
                                                        this.kcd_1n = 1;
                                                            this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                     
                                        }else{
                                            if(this.nivel_tension_kv==11.4){
                                                this.urp_kv = 22.7;
                                                    this.kcd_n = 1;
                                                        this.ucw_kv = this.urp_kv*this.kcd_n;
                                                            this.urp_kv_1 = 45.4;
                                                                this.kcd_1n = 1;
                                                                    this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                                }else{
                                                    if(this.nivel_tension_kv=13.2){
                                                        this.urp_kv = 30.3;
                                                            this.kcd_n = 1;
                                                                this.ucw_kv = this.urp_kv*this.kcd_n;
                                                                    this.urp_kv_1 = 60.6;
                                                                        this.kcd_1n = 1;
                                                                            this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                                        }else{
                                                            if(this.nivel_tension_kv==13.8){
                                                                this.urp_kv = 30.3;
                                                                    this.kcd_n = 1;
                                                                        this.ucw_kv = this.urp_kv*this.kcd_n;
                                                                            this.urp_kv_1 = 60.6;
                                                                                this.kcd_1n = 1;
                                                                                    this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                                            }else{
                                                                if(this.nivel_tension_kv==33){
                                                                    this.urp_kv = 60.6;
                                                                        this.kcd_n = 1;
                                                                            this.ucw_kv = this.urp_kv*this.kcd_n;
                                                                                this.urp_kv_1 = 121.2;
                                                                                    this.kcd_1n = 1;
                                                                                        this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                                                }else{
                                                                    if(this.nivel_tension_kv==34.5){
                                                                         this.urp_kv = 60.6;
                                                                            this.kcd_n = 1;
                                                                                this.ucw_kv = this.urp_kv*this.kcd_n;
                                                                                    this.urp_kv_1 = 121.2;
                                                                                        this.kcd_1n = 1;
                                                                                            this.ucw_kv_1 = this.urp_kv_1*this.kcd_1n;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                             }
                                         }
                                     } ,

            createNivelTensionKv2(){

                 if(this.nivel_tension_kv_2==2.4){
                     this.urp_kv_2 = 6.2;
                        this.kcd_2n = 1.03;
                            this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                this.urp_kv_1_2 = 12.4;
                                    this.kcd_1_2 = 1.03;
                                        this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                 }else{
                     if(this.nivel_tension_kv_2==4.2){
                        this.urp_kv_2 = 12.2;
                            this.kcd_2n = 1.03;
                                this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                    this.urp_kv_1_2 = 24.4;
                                        this.kcd_1_2 = 1.05;
                                            this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                     }else{
                         if(this.nivel_tension_kv_2==4.16){
                             this.urp_kv_2 = 12.2;
                                this.kcd_2n = 1.03;
                                    this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                        this.urp_kv_1_2 = 24.4;
                                            this.kcd_1_2 = 1.05;
                                                this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                         }else{
                             if(this.nivel_tension_kv_2==11.4){
                                 this.urp_kv_2 = 22.7;
                                    this.kcd_2n = 1.01;
                                        this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                            this.urp_kv_1_2 = 45.4;
                                                this.kcd_1_2 = 1.03;
                                                    this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                             }else{
                                 if(this.nivel_tension_kv_2==13.2){
                                     this.urp_kv_2 = 30.3;
                                        this.kcd_2n = 1.03;
                                            this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                                this.urp_kv_1_2 = 60.6;
                                                    this.kcd_1_2 = 1.03;
                                                        this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                                 }else{
                                     if(this.nivel_tension_kv_2==13.8){
                                         this.urp_kv_2 = 30.3;
                                            this.kcd_2n = 1.03;
                                                this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                                    this.urp_kv_1_2 = 60.6;
                                                        this.kcd_1_2 = 1.03;
                                                            this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                                     }else{
                                         if(this.nivel_tension_kv_2==33){
                                             this.urp_kv_2 = 60.6;
                                                this.kcd_2n = 1.04;
                                                    this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                                        this.urp_kv_1_2 = 121.2;
                                                            this.kcd_1_2 = 1.05;
                                                                this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                                         }else{
                                             if(this.nivel_tension_kv_2==34.5){
                                                 this.urp_kv_2 = 60.6;
                                                    this.kcd_2n = 1.04;
                                                        this.ucw_kv_2 = this.urp_kv_2*this.kcd_2n;
                                                            this.urp_kv_1_2 = 121.2;
                                                                this.kcd_1_2 = 1.05;
                                                                    this.ucw_kv_1_2 = this.urp_kv_1_2*this.kcd_1_2;
                                             }
                                         }
                                     }
                                 }
                             }
                         }
                     }
                 }
            }
        }                   
    }
           
                

            
</script>

<style lang="scss" scoped>


</style>