<template>
    <div>
         <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
            <thead>
               <tr align="center" bgcolor="#F9DDDB"> 
                    <th colspan="4">10 Tensiones de Coordinación para Sobretensiones Temporales (Ucw-t) (2))</th>
               </tr>
               <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th colspan="2">Ucw-t <br> (kV)</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Un <br> (kV)</th>
                        <th >Um (1) <br> (kV) </th>
                        <th >Fase-Tierra <br> (Ucw-t = Urp-t)</th>
                        <th >Fase-Fase <br> (Ucw-t = Urp-t) </th>
                    <tr>
                </tr>
                <!--<tr id="contador"><th colspan="4"><button type="submit" class="btn-primary">Add+</button></th><tr>-->
                <tr>
                   <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="representative_tensionsn in representative_tensions" :key="representative_tensionsn.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                    <th>{{tension_maxima}}</th>
                    <th>{{fase_tierra1}}</th>
                    <th>{{fase_tierra2}}</th>
                    <th><button type="submit" class="btn-primary" @click="createSobretensionsTemporals">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="4">
                        (1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un <br>
                        (2) De acuerdo al numeral 3.3.1 de la IEC 60071-2 la tensión no disruptiva <br>
                        de coordinación  para las sobretensiones temporales es igual <br> a las sobretensiones temporales representativas determinadas en la Tabla 5 <br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>
                </tr>
            </thead>
         </table>
         <br>
         <br>
         <br>

         <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="6">Tensiones de Coordinación para Sobretensiones Temporales (Ucw-t) (2))</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th >Tensión Nominal</th>
                    <th >Tensión Máxima</th>
                    <th colspan="2">Ucw-t <br> (kV)</th>
                    <th colspan="2">Acciones</th>
                </tr>
                <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                        <th >Un <br> (kV)</th>
                        <th >Um (1) <br> (kV) </th>
                        <th >Fase-Tierra <br> (Ucw-t = Urp-t)</th>
                        <th >Fase-Fase <br> (Ucw-t = Urp-t) </th>
                        <th colspan="2"></th>
                    <tr>
                </tr>
			</thead>
            <tbody>

                <tr>
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{tension_maxima}}</th>
                    <th width="10px">{{fase_tierra1}}</th>
                    <th width="10px">{{fase_tierra2}}</th>
                    
    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
               

            </tbody>
         </table>

    </div>
</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {
    
    data(){
        return{
             tension_nominal:'',
             tension_maxima:'',
             fase_tierra1: '',
             fase_tierra2: ''
        }
    },
        methods:{

             add(){

           var contador=0;
            contador++;

        },
        createSobretensionsTemporals(){

            let url = this.app_url+'/create/sobretension_temporal'
            axios.post(url,{


             tension_nominal : this.tension_nominal,
             tension_maxima : this.tension_maxima,
             fase_tierra1 : this.fase_tierra1,
             fase_tierra2 : this.fase_tierra2

            }).then(response =>{
                toastr.success('Se creo la Tensión de Coordinación para Sobretensiones Temporales')
            }).catch(error =>{
                toastr.error('No se creo creo la Tensión de Coordinación para Sobretensiones Temporales')
            });
        
              this.$router.push({name:'tabla7'})
 
            },

        indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },


        createTensionNominal(){
          
                if(this.tension_nominal==2.4){
                    this.tension_maxima = 3.6;
                        this.fase_tierra1 = 3.1;
                            this.fase_tierra2 = 4.3;
                 
                    
                }else{
                    if(this.tension_nominal==4.2){
                        this.tension_maxima =7.2;
                            this.fase_tierra1 = 6.2;
                                this.fase_tierra2 = 8.6;
                    
                    }else{
                        if(this.tension_nominal==4.16){
                            this.tension_maxima =7.2;
                               this.fase_tierra1 = 6.2;
                                    this.fase_tierra2 = 8.6;
                        }else{
                            if(this.tension_nominal==11.4){
                                this.tension_maxima =12;
                                    this.fase_tierra1 = 10.4;
                                        this.fase_tierra2 = 14.4;
  
                            }else{
                                if(this.tension_nominal==13.2){
                                    this.tension_maxima =17.5;
                                        this.fase_tierra1 = 15.2; 
                                            this.fase_tierra2 =21.0;            
                                    
                                }else{
                                    if(this.tension_nominal==13.8){
                                        this.tension_maxima =17.5;
                                            this.fase_tierra1 = 15.2; 
                                                this.fase_tierra2 =21.0;            

                                    }else{
                                        if(this.tension_nominal==33){
                                            this.tension_maxima=36;
                                                this.fase_tierra1 = 31.2;
                                                    this.fase_tierra2 = 43.2;

                                        }else{
                                            if(this.tension_nominal==34.5){
                                                this.tension_maxima =36;
                                                    this.fase_tierra1 = 31.2;
                                                        this.fase_tierra2 = 43.2;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }   
        
    }

</script>

<style lang="scss" scoped>


</style>