<template>

  <div>
    
    <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>

                <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="6">3.Tensiónes representativas a frecuencia Industrial (Urp-fi)</th>
                
                </tr>
            
                 <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th colspan="2">Urp-fi <br> (Fase-Tierra)</th>
                    <th colspan="2"> Urp-fi <br> (Fase-Fase)</th>     
                </tr>
                    <tr>
                         <tr align="center" bgcolor="#F9DDDB">
                            <th >Un <br> (kV) </th>
                            <th >Um (1) <br> (kV)</th>
                            <th >RMS <br> (kV) <br> (Um / √3)</th>
                            <th >Pico <br> (kV) <br> (RMS * √2)</th>
                            <th > RMS <br> (kV) <br> (= Um) </th>
                            <th > Pico <br> (kV) <br> (RMS * √2) </th>
                        <tr>
                    </tr>
                    <!--<tr id="contador"><th colspan="6"><button type="submit" class="btn-primary">Add+</button></th><tr>-->     
                    <tr>
                        <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="representative_tensionsn in representative_tensions" :key="representative_tensionsn.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                        </th>
                        <th>{{tension_maxima}}</th>
                        <th>{{rms}}</th>
                        <th>{{pico}}</th>
                        <th>{{rms2}}</th>
                        <th>{{pico2}}</th>
                        <th><button type="submit" class="btn-primary" @click="createRepresentativeTension">Guardar</button></th>
                    </tr>
                    <tr>
                        <th colspan="6">(1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un <br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button></th>
                    </tr>

         </thead>
    </table>
    <br>
    <br>
    <br>
        <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="8">Tensiónes representativas a frecuencia Industrial (Urp-fi)</th>

                </tr>
                 <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th colspan="2">Urp-fi <br> (Fase-Tierra)</th>
                    <th colspan="2"> Urp-fi <br> (Fase-Fase)</th>  
                    <th colspan="2">Acciones</th>   
                </tr>
                    <tr>
                         <tr align="center" bgcolor="#F9DDDB">
                            <th >Un <br> (kV) </th>
                            <th >Um (1) <br> (kV)</th>
                            <th >RMS <br> (kV) <br> (Um / √3)</th>
                            <th >Pico <br> (kV) <br> (RMS * √2)</th>
                            <th > RMS <br> (kV) <br> (= Um) </th>
                            <th > Pico <br> (kV) <br> (RMS * √2) </th>
                            <th colspan="2"></th>

                        <tr>
                    </tr>
			</thead>
            <tbody>

            <tr>
            <!--<tr v-for="representative in representative_tensions" :key="representative.id">-->
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{tension_maxima}}</th>
                    <th width="10px">{{rms}}</th>
                    <th width="10px">{{pico}}</th>
                    <th width="10px">{{rms2}}</th>
                    <th width="10px">{{pico2}}</th>
                    
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
            </tbody>
		</table>


  </div>


</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {
    
    data(){

        return {

            tension_nominal: '',
            tension_maxima:'',
            rms:'',
            pico:'',
            rms2:'',
            pico2:'',
            
            representative_tensions: []

        }  
        
    },
     created(){

         this.getRepresentative()

     },



    methods:{

        add(){

           var contador=0;
            contador++;



        },

         /*getRepresentative(){
             var url = this.app_url+'/list/representative_tension';
            axios.get(url).then(response =>{
                this.representative_tensions = response.data
                toastr.success('ok')
            }).catch(error =>{
                toastr.error('bad')
            })
         },*/

        createRepresentativeTension(){

              let url = this.app_url+'/create/representative_tension'
            axios.post(url,{

            tension_nominal : this.tension_nominal,
            tension_maxima : this.tension_maxima,
            rms : this.rms,
            pico : this.pico,
            rms2 : this.rms2,
            pico2 : this.pico2

            }).then(response =>{
                toastr.success('Se creo la Tension Representativa')
            }).catch(error =>{
                toastr.error('No se creo la Tension Representativa')
            });
        
              this.$router.push({name:'tabla3'})
 
            },

        indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },

        createTensionNominal(){
          
            if(this.tension_nominal==2.4){
                this.tension_maxima = 3.6;
                 this.rms= this.tension_maxima/1.7;
                    this.pico = this.rms*1.4;
                        this.rms2 = this.tension_maxima;
                            this.pico2 = this.rms2*1.4;
               
            }else{
                if(this.tension_nominal==4.2){
                    this.tension_maxima =7.2;
                     this.rms= this.tension_maxima/1.732;
                        this.pico = this.rms*1.414;
                            this.rms2 = this.tension_maxima;
                                this.pico2 = this.rms2*1.4;
                      
                    }else{
                        if(this.tension_nominal==11.4){
                            this.tension_maxima =12;
                             this.rms= this.tension_maxima/1.732;
                                this.pico = this.rms*1.414;   
                                    this.rms2 = this.tension_maxima;
                                        this.pico2 = this.rms2*1.4;
                        }else{
                            if(this.tension_nominal==13.2){
                                this.tension_maxima =17.5; 
                                 this.rms= this.tension_maxima/1.732;
                                     this.pico = this.rms*1.414;
                                        this.rms2 = this.tension_maxima;
                                            this.pico2 = this.rms2*1.4;
                                
                            }else{
                                if(this.tension_nominal==13.8){
                                    this.tension_maxima =17.5;
                                     this.rms= this.tension_maxima/1.732;
                                         this.pico = this.rms*1.414;
                                            this.rms2 = this.tension_maxima;
                                                this.pico2 = this.rms2*1.4;
                                   
                                }else{
                                    if(this.tension_nominal==33){
                                        this.tension_maxima=36;
                                         this.rms= this.tension_maxima/1.732;
                                             this.pico = this.rms*1.414;
                                                this.rms2 = this.tension_maxima;
                                                    this.pico2 = this.rms2*1.4;
                                      
                                    }else{
                                        if(this.tension_nominal==34.5){
                                            this.tension_maxima =36;
                                             this.rms= this.tension_maxima/1.732;
                                                this.pico = this.rms*1.414;
                                                    this.rms2 = this.tension_maxima;
                                                        this.pico2 = this.rms2*1.4;
                                           
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



</script>


<style lang="scss" scoped>


</style>


