<template>
    <div>
    <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>
                <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="12">4.4 Factor k para la determinación de las sobretensiones temporales (1)</th>
                
                </tr>
                <tr align="center" bgcolor="#F9DDDB">
                    <th rowspan="2"></th>
                    <th colspan="2">Puesta a tierra</th>
                </tr>
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Sólido</th>
                    <th>Aislado</th>
                 </tr>
                 <tr>
                     <th align="center" bgcolor="#F9DDDB" rowspan="2">Falla a tierra</th>
                     <th>1.5</th>
                     <th>1.7</th>
                 </tr>
                 <tr>
                     <tr>
                     <th align="center" bgcolor="#F9DDDB" rowspan="6">Rechazo de carga</th>
                     <th>1.2</th>
                     <th>Sistema moderadamente extendidos</th>
                    <tr>
                 </tr>
                 <tr>
                     <th>1.5</th>
                     <th>Sistemas extendidos</th>
                 </tr>
                 <tr>
                     <th>1</th>
                     <th>Sistemas solo con cargas estáticas en el lado rechazado</th>
                 </tr>
                  <tr>
                     <th>1,4 Turbogeneradores</th>
                     <th rowspan="2">Pérdidas de carga a nivel transformador-generador</th>
                 </tr>
                  <tr>
                     <th>1,5 Hidrogeneradores</th>
                 </tr>
                 <tr>
                     <th colspan="6">(1) Valores de “k” de acuerdo a sección 2.3.2 de la <br> NTC 3389 (IEC 60071-2) y sección 3.2.2 de la NTC 4616 (IEC60099-1)</th>
                 </tr>
        </thead>
    </table>
    <br>
    <br>
    <br>
  <table  border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>
                <tr align="center" bgcolor="#F9DDDB">     
                    <th colspan="9">4.5 Sobretensiones representativas temporales (Urp-t)</th>
                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th rowspan="4">Puesta a Tierra</th>
                    <th colspan="3">Factor "k" según Puesta a Tierra <br> (Ver Tabla 4)</th>
                    <th colspan="3">Urp-t <br> (kV)</th>
                </tr>
                    <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                    <th rowspan="2">Un <br> (kV) </th><th rowspan="2">Um (1) <br> (kV)</th>
                    <th rowspan="2">Falla a tierra</th>
                    <th colspan="2">Rechazo de carga</th>
                    <th >Falla a tierra</th>
                    <th colspan="2">Rechazo de carga</th>
                <tr>
                    <th  align="center" bgcolor="#F9DDDB">Sistema</th>
                    <th  align="center" bgcolor="#F9DDDB">Valor</th>
                    <th  align="center" bgcolor="#F9DDDB">Fase-Tierra <br> (k * Um / √3)</th>   
                    <th  align="center" bgcolor="#F9DDDB">Fase-Tierra <br> (k * Um / √3)</th>
                    <th  align="center" bgcolor="#F9DDDB">Fase-Fase <br> (k * Um)</th>
                </tr>
                <!--<tr id="contador"><th colspan="9"><button type="submit" class="btn-primary">Add+</button></th><tr>-->     
                <tr>
                    <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="temporary_representations_5n in temporary_representations_5" :key="temporary_representations_5n.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                        </th>
                       
                        <th>{{tension_maxima}}</th>
                        <th style='background-color:#96A6F5;' colspan="1">
                                <select id="sistema_puesta_tierra" @click="sistemas" name="sistema_puesta_tierra" v-model="sistema_puesta_tierra" class="form-control">
                                    <option style='font-weight:bold;' v-for="temporary_representations_5n in temporary_representations_5" :key="temporary_representations_5n.id"></option>
                                    <option value="sólido">Sólido</option>  
                                    <option value="aislado">Aislado</option>  
                                </select>
                        </th>

                        <th>{{falla_tierra}}</th>

                         <th style='background-color:#96A6F5;' colspan="1">
                                <select id="sistema" @click="sistemans" name="sistema" v-model="sistema" class="form-control">
                                    <option style='font-weight:bold;' v-for="temporary_representations_5n in temporary_representations_5" :key="temporary_representations_5n.id"></option>
                                    <option value="Sistema moderadamente extendidos">Sistema moderadamente extendidos</option>  
                                    <option value="Sistemas extendidos">Sistemas extendidos</option>  
                                    <option value="Sistemas solo con cargas estáticas en el lado rechazado">Sistemas solo con cargas estáticas en el lado rechazado</option>
                                    <option value="Turbogeneradores">Turbogeneradores</option>
                                    <option value="Hidrogeneradores">Hidrogeneradores</option>
                                </select>
                        </th>
                        <th>{{valor}}</th>
                        <th>{{falla_tierra1}}</th>
                        <th>{{rechazo_carga1}}</th>
                        <th>{{rechazo_carga2}}</th>
                        <th><button type="submit" class="btn-primary" @click="createRepresentationTemporary">Guardar</button></th>
                </tr>
                
                <tr>
                    <th colspan="9">(1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un<br>
                    <button type="button" class="btn btn-default" @click="indice">Indice</button></th>
                </tr>          
             </thead>
        </table>
        <br>
        <br>
        <br>
        <br>
    <br>
    <br>
        <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="11">Sobretensiones representativas temporales (Urp-t)</th>

                </tr>
                <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th rowspan="4">Puesta a Tierra</th>
                    <th colspan="3">Factor "k" según Puesta a Tierra <br> (Ver Tabla 4)</th>
                    <th colspan="3">Urp-t <br> (kV)</th>
                    <th colspan="2">Acciones</th>
                </tr>
                    <tr>
                    <tr align="center" bgcolor="#F9DDDB">
                    <th rowspan="2">Un <br> (kV) </th><th rowspan="2">Um (1) <br> (kV)</th>
                    <th rowspan="2">Falla a tierra</th>
                    <th colspan="2">Rechazo de carga</th>
                    <th >Falla a tierra</th>
                    <th colspan="2">Rechazo de carga</th>
                    <th colspan="2"></th>
                <tr>
                    <th  align="center" bgcolor="#F9DDDB">Sistema</th>
                    <th  align="center" bgcolor="#F9DDDB">Valor</th>
                    <th  align="center" bgcolor="#F9DDDB">Fase-Tierra <br> (k * Um / √3)</th>   
                    <th  align="center" bgcolor="#F9DDDB">Fase-Tierra <br> (k * Um / √3)</th>
                    <th  align="center" bgcolor="#F9DDDB">Fase-Fase <br> (k * Um)</th>
                    <th  align="center" bgcolor="#F9DDDB" colspan="2"></th>
                    
                    
                </tr>
                </thead>
                <tbody>
                 <tr>
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{tension_maxima}}</th>
                    <th width="10px">{{sistema_puesta_tierra}}</th>
                    <th width="10px">{{falla_tierra}}</th>
                    <th width="10px">{{sistema}}</th>
                    <th width="10px">{{valor}}</th>
                    <th width="10px">{{falla_tierra}}</th>
                    <th width="10px">{{rechazo_carga1}}</th>
                    <th width="10px">{{rechazo_carga2}}</th>
                    
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
			</tbody>
        </table>
    </div>
</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {

    data(){
        return{

            tension_nominal: '',
            tension_maxima: '',
            sistema_puesta_tierra: '',
            falla_tierra:'',
            sistema: '',
            valor: '',
            falla_tierra1: '',
            rechazo_carga1: '',
            rechazo_carga2: '',

        }

    },

    methods:{

         add(){

           var contador=0;
            contador++;

        },

        createRepresentationTemporary(){

            let url = this.app_url+'/create/representative_temporary'
            axios.post(url,{

            tension_nominal : this.tension_nominal,
            tension_maxima : this.tension_maxima,
            sistema_puesta_tierra : this.sistema_puesta_tierra,
            falla_tierra : this.falla_tierra,
            sistema : this.sistema,
            valor : this.valor,
            falla_tierra1 : this.falla_tierra1,
            rechazo_carga1 : this.rechazo_carga1,
            rechazo_carga2 : this.rechazo_carga2

            }).then(response =>{
                toastr.success('Se creo la Sobretension representativa temporal')
            }).catch(error =>{
                toastr.error('No se creo la Sobretension representativa temporal')
            });
        
              this.$router.push({name:'tabla4'})
 
            },

            indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },


        sistemas(){

            if(this.sistema_puesta_tierra=="sólido"){
                this.falla_tierra = 1.5;
            }else{
                if(this.sistema_puesta_tierra=="aislado"){
                    this.falla_tierra = 1.7;
                }
            }
            
        },

        sistemans(){

            if(this.sistema=="Sistema moderadamente extendidos"){
                this.valor = 1.2;
                this.falla_tierra1 = this.falla_tierra*this.tension_maxima/1.7;
                this.rechazo_carga1 = this.valor*this.tension_maxima/1.7;
                this.rechazo_carga2 = this.valor*this.tension_maxima;
            }else{
                if(this.sistema=="Sistemas extendidos"){
                    this.valor = 1.5;
                    this.falla_tierra1 = this.falla_tierra*this.tension_maxima/1.7;
                    this.rechazo_carga1 = this.valor*this.tension_maxima/1.7;
                    this.rechazo_carga2 = this.valor*this.tension_maxima;

                }else{
                    if(this.sistema=="Sistemas solo con cargas estáticas en el lado rechazado"){
                        this.valor = 1;
                        this.falla_tierra1 = this.falla_tierra*this.tension_maxima/1.7;
                        this.rechazo_carga1 = this.valor*this.tension_maxima/1.7;
                        this.rechazo_carga2 = this.valor*this.tension_maxima;

                    }else{
                        if(this.sistema=="Turbogeneradores"){
                            this.valor = 1.4;
                            this.falla_tierra1 = this.falla_tierra*this.tension_maxima/1.7;
                            this.rechazo_carga1 = this.valor*this.tension_maxima/1.7;
                            this.rechazo_carga2 = this.valor*this.tension_maxima;
                        }else{
                            if(this.sistema=="Hidrogeneradores"){
                                this.valor = 1.5;
                                this.falla_tierra1 = this.falla_tierra*this.tension_maxima/1.7;
                                this.rechazo_carga1 = this.valor*this.tension_maxima/1.7;
                                this.rechazo_carga2 = this.valor*this.tension_maxima;
                            }
                        }
                    }
                }
            }

        },

         createTensionNominal(){
          
            if(this.tension_nominal==2.4){
                this.tension_maxima = 3.6;
                
            }else{
                if(this.tension_nominal==4.2){
                    this.tension_maxima =7.2;
                  
                }else{
                    if(this.tension_nominal==4.16){
                        this.tension_maxima =7.2;
                      
                    }else{
                        if(this.tension_nominal==11.4){
                            this.tension_maxima =12;
            
                        }else{
                            if(this.tension_nominal==13.2){
                                this.tension_maxima =17.5; 
                                
                            }else{
                                if(this.tension_nominal==13.8){
                                    this.tension_maxima =17.5;
                                   
                                }else{
                                    if(this.tension_nominal==33){
                                        this.tension_maxima=36;
                                    
                                    }else{
                                        if(this.tension_nominal==34.5){
                                            this.tension_maxima =36;
                                        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
    
}

 
</script>

<style lang="scss" scoped>


</style>

