<template>
<div>
    <table   border="1" bordercolor="#0000FF" cellspacing="5" cellpadding="5" id="result" class="fixed_headers" align="center">
        <thead>

                <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="8">2.Características de los DST</th>
                
                </tr>
            
                 <tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th rowspan="2">Nivel Básico de Aislamiento</th>
                    <th colspan="2">Tensión de Operación Continua</th>
                    <th rowspan="2">Tensión Asignada</th>
                    <th rowspan="2">Tensión Residual con <br> Impulso Tipo Maniobra</th>   
                    <th rowspan="2" >Tensión Residual con <br> Impulso Tipo Rayo</th>
                </tr>
        </thead>
                <tr align="center" bgcolor="#F9DDDB">
                    <th rowspan="2">Un <br> (kV)</th>
                    <th rowspan="2">Um (1) <br> (kV)</th>
                    <th rowspan="2">BIL (2) <br> (kV)</th>
                    <th colspan="2" align="center">Uc <br> (kV)</th>
                    <th rowspan="2">Ur (4) <br> (kV)</th>
                    <th rowspan="2">Upl (4) <br> (kVp) <br>(10 kA, 8/20 µs) </th>   
                    <th rowspan="2" >Ups (4) <br> (kVp) <br> (1kA, 30/70 µs) </th>
                </tr>
               <tr align="center" bgcolor="#F9DDDB">
                    <th>Mínimo (3) <br> [1.05*(Um / √3)]</th>
                    <th>Seleccionado de catálogo</th>

               <tr><tr>

                <!--<tr  v-for="dstn in dst" :key="dstn.id" >
                <tr id="contador" style="display.none;">
                <tr id="contador"><th colspan="8"><button type="submit" class="btn-primary">Add+</button></th><tr>
                <tr><button type="submit" class="btn-primary" @click="createFile">Add+</button></tr>
                <tr>-->
                    
                    <th style='background-color:#96A6F5;' colspan="1">
                                <select id="tension_nominal" @click="createTensionNominal" name="tension_nominal" v-model="tension_nominal" class="form-control">
                                    <option style='font-weight:bold;' v-for="dstn in dst" :key="dstn.id"></option>
                                    <option value=2.4>2.4</option>  
                                    <option value=4.2>4.2</option>
                                    <option value=4.16>4.16</option>  
                                    <option value=11.4>11.4</option>
                                    <option value=13.2>13.2</option>
                                    <option value=13.8>13.8</option>
                                    <option value=33>33</option>
                                    <option value=34.5>34.5</option>
                                </select>
                    </th>
                    <th v-for="dstn in dst" :key="dstn.id"></th>
                    <th>{{tension_maxima}}</th>
                    <th>{{nivel_basico_de_aislamiento}}</th>
                    <th>{{minimo}}</th>
                    <th><input type="number" name="seleccionado" v-model="seleccionado" required></th>
                    <th><input type="number" name="tension_asignada" v-model="tension_asignada" required></th>
                    <th><input type="number" name="tension_residual_maniobra" v-model="tension_residual_maniobra" required></th>
                    <th><input type="number" name="tension_residual_rayo" v-model="tension_residual_rayo" required></th>  
                    <th><button type="submit" class="btn-primary" v-show="formu" @click="createDST">Guardar</button></th>
                </tr>
                <tr>
                    <th colspan="8">
                        (1) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Un <br>
                        (2) Valor tomado de la Tabla 2 de la IEC 60071-1, según valor de Um<br>
                        (3) Ecuación tomada de la sección 3.2.1 de la NTC 4616 (IEC 60099-5)<br>
                        (4) Valor seleccionado de catálogo de fabricantes, según Uc escogido<br>
                        <button type="button" class="btn btn-default" @click="indice">Indice</button>
                    </th>   
                </tr>
         </table> 
         <br>
         <br>
         <br>
          <table class="table table-hover table-striped">
			<thead>
                 <tr align="center" bgcolor="#F9DDDB">
                    
                    <th colspan="12">Características de los DST</th>
                
                </tr>
				<tr align="center" bgcolor="#F9DDDB">					
                    <th rowspan="2">Tensión Nominal</th>
                    <th rowspan="2">Tensión Máxima</th>
                    <th rowspan="2">Nivel Básico de Aislamiento</th>
                    <th colspan="2">Tensión de Operación Continua</th>
                    <th rowspan="2">Tensión Asignada</th>
                    <th rowspan="2">Tensión Residual con <br> Impulso Tipo Maniobra</th>   
                    <th rowspan="2" >Tensión Residual con <br> Impulso Tipo Rayo</th>
                    <th colspan="2">Acciones</th>

					
                </tr>
            </thead>
             <tr align="center" bgcolor="#F9DDDB">
                    <th rowspan="2">Un <br> (kV)</th>
                    <th rowspan="2">Um (1) <br> (kV)</th>
                    <th rowspan="2">BIL (2) <br> (kV)</th>
                    <th colspan="2" align="center">Uc <br> (kV)</th>
                    <th rowspan="2">Ur (4) <br> (kV)</th>
                    <th rowspan="2">Upl (4) <br> (kVp) <br>(10 kA, 8/20 µs) </th>   
                    <th rowspan="2" >Ups (4) <br> (kVp) <br> (1kA, 30/70 µs) </th>
                    <th colspan="2">
						&nbsp;
					</th>
                </tr>
                <tr align="center" bgcolor="#F9DDDB">
                    <th>Mínimo (3) <br> [1.05*(Um / √3)]</th>
                    <th>Seleccionado de catálogo</th>
                    <th  colspan="4"></th>
                </tr>
            <tbody>

             <!--<tr v-for="dstk in dst" :key="dstk.id">-->
                 <tr>
		
                    <th width="10px">{{tension_nominal}}</th>
                    <th width="10px">{{tension_maxima}}</th>
                    <th width="10px">{{nivel_basico_de_aislamiento}}</th>
                    <th width="10px">{{minimo}}</th>
                    <th width="10px">{{seleccionado}}</th>
                    <th width="10px">{{tension_asignada}}</th>
                    <th width="10px">{{tension_residual_maniobra}}</th>
                    <th width="10px">{{tension_residual_rayo}}</th>
                    
					<td width="20px">
                                         
                        <button type="submit" class="btn btn-primary">Editar</button>
                        
					</td>
                    
                   
					<td width="20px">
                        
						<button type="submit" class="btn btn-danger">Eliminar</button>
                      
					</td>
                    
				</tr>
            </tbody>
		</table>
    </div>   
</template>

<script>

import axios from 'axios'
import toastr from 'toastr'

export default {


    
    data(){

        return {

            tension_nominal: '',
            tension_maxima:'',
            nivel_basico_de_aislamiento: '',
            minimo: '', 
            seleccionado: '',
            tension_asignada: '',
            tension_residual_maniobra: '',
            tension_residual_rayo: '',

            dst:[]
 
        } 
        /*return{

            dst: [
                
                {tension_nominal: ''},
                {tension_maxima:''},
                {nivel_basico_de_aislamiento: ''},
                {minimo: ''},
                {seleccionado: ''},
                {tension_asignada: ''},
                {tension_residual_maniobra: ''},
                {tension_residual_rayo: ''}
         ]
        } */
        
    },

     created(){

         this.getDST()

     },


    computed:{

        prueba(){

            return this.dst;
        }
    },

    methods:{

        /*add(){

           var contador=0;
            contador++;
            
         },*/

       /*getDST(){
            let url = this.app_url+'/listdst'
              axios.get(url,{
                
                tension_nominal : this.tension_nominal,
                tension_maxima : this.tension_maxima,
                nivel_basico_de_aislamiento : this.nivel_basico_de_aislamiento,
                minimo : this.minimo,
                seleccionado : this.seleccionado,
                tension_asignada : this.tension_asignada,
                tension_residual_maniobra : this.tension_residual_maniobra,
                tension_residual_rayo : this.tension_residual_rayo

            }).then(response =>{
                toastr.success('ok')
            }).catch(error =>{
                toastr.error('BAD')
            });
        
              this.$router.push({name:'tabla2'})
 
            },*/
     
        /*getDST(){
             var url = this.app_url+'/listdst';
            axios.get(url).then(response =>{
                this.dst = response.data
                toastr.success('v')
            }).catch(error =>{
                toastr.error('mal')
            })
         },*/
         createFile(){
             
            this.dst.push({name:'tabla2',
            
                params: {
                    
                tension_nominal: this.tension_nominal,
                tension_maxima: this.tension_maxima,
                nivel_basico_de_aislamiento: this.nivel_basico_de_aislamiento,
                minimo: this.minimo,
                seleccionado: this.seleccionado,
                tension_asignada: this.tension_asignada,
                tension_residual_maniobra: this.tension_residual_maniobra,
                tension_residual_rayo: this.tension_residual_rayo
                
                }

            })

         },

         createDST(){

            let url = this.app_url+'/create/dst'
            axios.post(url,{
                
                tension_nominal : this.tension_nominal,
                tension_maxima : this.tension_maxima,
                nivel_basico_de_aislamiento : this.nivel_basico_de_aislamiento,
                minimo : this.minimo,
                seleccionado : this.seleccionado,
                tension_asignada : this.tension_asignada,
                tension_residual_maniobra : this.tension_residual_maniobra,
                tension_residual_rayo : this.tension_residual_rayo

            }).then(response =>{
                toastr.success('Se creo el proyecto DST exitosamente')
            }).catch(error =>{
                toastr.error('No se creo el proyecto DST')
            });
        
              this.$router.push({name:'tabla2'})
 
            },

       
            indice(){

                toastr.info('Indice')

                this.$router.push({name:'listform'})
   
            },

            formu(){
                this.form;
            },

          createTensionNominal(){
          
            if(this.tension_nominal==2.4){
                this.tension_maxima = 3.6;
                this.nivel_basico_de_aislamiento = 40;
                this.minimo = (1.05*this.tension_maxima)/1.73205;
            }else{
                if(this.tension_nominal==4.2){
                    this.tension_maxima =7.2;
                    this.nivel_basico_de_aislamiento = 60; 
                    this.minimo = (1.05*this.tension_maxima)/1.73205;
                }else{
                    if(this.tension_nominal==4.16){
                        this.tension_maxima =7.2;
                        this.nivel_basico_de_aislamiento = 60;
                        this.minimo = (1.05*this.tension_maxima)/1.73205;
                    }else{
                        if(this.tension_nominal==11.4){
                            this.tension_maxima =12;
                            this.nivel_basico_de_aislamiento = 95;
                            this.minimo = (1.05*this.tension_maxima)/1.73205;
                        }else{
                            if(this.tension_nominal==13.2){
                                this.tension_maxima =17.5; 
                                this.nivel_basico_de_aislamiento = 95;
                                this.minimo = (1.05*this.tension_maxima)/1.73205;
                            }else{
                                if(this.tension_nominal==13.8){
                                    this.tension_maxima =17.5;
                                    this.nivel_basico_de_aislamiento = 95;
                                    this.minimo = (1.05*this.tension_maxima)/1.73205;
                                }else{
                                    if(this.tension_nominal==33){
                                        this.tension_maxima=36;
                                        this.nivel_basico_de_aislamiento = 170;
                                        this.minimo = (1.05*this.tension_maxima)/1.73205;
                                    }else{
                                        if(this.tension_nominal==34.5){
                                            this.tension_maxima =36;
                                            this.nivel_basico_de_aislamiento = 170;
                                            this.minimo = (1.05*this.tension_maxima)/1.73205;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 

</script>

<style lang="scss" scoped>


</style>

